/* Height hack for float wrappers */
.services {
    overflow:auto;
}

.auth-icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/auth.png?v=3") no-repeat;
	background-size: 24px;
}

.auth-icon.google, 
.auth-icon.google_oauth   { background-position: 0 -26px;  }
.auth-icon.twitter    	 { background-position: 0 -51px;  }
.auth-icon.yandex		 { background-position: 0 -76px; }
.auth-icon.vkontakte	 { background-position: 0 -102px; }
.auth-icon.facebook		 { background-position: 0 -127px; }
.auth-icon.mailru		 { background-position: 0 -152px; }
.auth-icon.moikrug		 { background-position: 0 -179px; }
.auth-icon.odnoklassniki { background-position: 0 -204px; }
.auth-icon.linkedin      	 { background-position: 0 -306px; }
.auth-icon.github      	 { background-position: 0 -340px; }

.auth-link:hover .auth-icon i,
.auth-link:focus .auth-icon i {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../images/auth.png?v=3") 0 0 no-repeat;
}

.auth-services.clear {
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
	/* Height hack for float wrappers */
	overflow:hidden;
}
    
.auth-service {
    margin: 0 0 10px 0;
	display: inline-block;
}
      
.auth-services .auth-service .auth-link {
    display: block;
    //width: 58px;
    /*padding: 0 0.4em;*/
}

.auth-service .auth-link .auth-icon {
    margin: 0 auto;
}
          
.auth-service .auth-link .auth-title {
    display: block;
    margin-top: 0.4em;
    text-align: center;
}