.mango-callback {
	height: 100% !important;
}
.mng-wgt .widget-wrapper.common-window, .widget-wrapper .widget-wrapper.common-window, .mango-callback .widget-wrapper.common-window, #widget-call-from-site .widget-wrapper.common-window { 
	height: 100% !important;
}
.mng-wgt .widget-wrapper.selected-label.widget-wrapper:after, .widget-wrapper .widget-wrapper.selected-label.widget-wrapper:after, .mango-callback .widget-wrapper.selected-label.widget-wrapper:after, #widget-call-from-site .widget-wrapper.selected-label.widget-wrapper:after {
	background-color: #EAEAEA !important;
	opacity: 0.8;
	background-color: rgba(234, 234, 234, 0.8);
}

.mng-wgt .widget-wrapper.selected-label.widget-wrapper:after, .widget-wrapper .widget-wrapper.selected-label.widget-wrapper:after, .mango-callback .widget-wrapper.selected-label.widget-wrapper:after, #widget-call-from-site .widget-wrapper.selected-label.widget-wrapper:after {
	background-color: #EAEAEA !important;
	opacity: 0.8;
    background: rgba(234, 234, 234, 0.8);
    border: 1px solid rgba(81, 84, 87, 0.3);
    border-right: 0;
}
.mng-wgt 
.widget-wrapper.common-window .widget-content .text-widget, .mng-wgt .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mng-wgt .widget-wrapper.common-window.wait .wait-content .text-widget, .widget-wrapper .widget-wrapper.common-window .widget-content .text-widget, .widget-wrapper .widget-wrapper.common-window.thanks .thanks-content .text-widget, .widget-wrapper .widget-wrapper.common-window.wait .wait-content .text-widget, .mango-callback .widget-wrapper.common-window .widget-content .text-widget, .mango-callback .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mango-callback .widget-wrapper.common-window.wait .wait-content .text-widget, #widget-call-from-site .widget-wrapper.common-window .widget-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.thanks .thanks-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.wait .wait-content .text-widget {
	color: #000000;
}
.mng-wgt .twitter-color.selected-label.widget-show .button-widget-open, .widget-wrapper .twitter-color.selected-label.widget-show .button-widget-open, .mango-callback .twitter-color.selected-label.widget-show .button-widget-open, #widget-call-from-site .twitter-color.selected-label.widget-show .button-widget-open {
    font-size: 0;
    background: #8DC63F url(https://lk.mango-office.ru/images/widget/svg/widget/arrow-button.svg) no-repeat center;
    background-size: 15px 14px;
}
.mng-wgt .twitter-additional-color .button-dialing, .mng-wgt .twitter-color.button-widget-open, .mng-wgt .twitter-color.widget-wrapper .button-widget-open, .mng-wgt .twitter-color.widget-wrapper:after, .mng-wgt .twitter-color:after, .widget-wrapper .twitter-additional-color .button-dialing, .widget-wrapper .twitter-color.button-widget-open, .widget-wrapper .twitter-color.widget-wrapper .button-widget-open, .widget-wrapper .twitter-color.widget-wrapper:after, .widget-wrapper .twitter-color:after, .mango-callback .twitter-additional-color .button-dialing, .mango-callback .twitter-color.button-widget-open, .mango-callback .twitter-color.widget-wrapper .button-widget-open, .mango-callback .twitter-color.widget-wrapper:after, .mango-callback .twitter-color:after, #widget-call-from-site .twitter-additional-color .button-dialing, #widget-call-from-site .twitter-color.button-widget-open, #widget-call-from-site .twitter-color.widget-wrapper .button-widget-open, #widget-call-from-site .twitter-color.widget-wrapper:after, #widget-call-from-site .twitter-color:after {
		background: #8DC63F;
	}

.mng-wgt .heavenly-additional-color .button-call, .mng-wgt .heavenly-additional-color.widget-mobile .button-call, .widget-wrapper .heavenly-additional-color .button-call, .widget-wrapper .heavenly-additional-color.widget-mobile .button-call, .mango-callback .heavenly-additional-color .button-call, .mango-callback .heavenly-additional-color.widget-mobile .button-call, #widget-call-from-site .heavenly-additional-color .button-call, #widget-call-from-site .heavenly-additional-color.widget-mobile .button-call {
    background: #8DC63F url(https://lk.mango-office.ru/images/widget/svg/widget/common/phone.svg) no-repeat center;
    background-size: 16px 20px;
}

.mng-wgt .widget-wrapper.common-window .widget-content .title-widget, .widget-wrapper .widget-wrapper.common-window .widget-content .title-widget, .mango-callback .widget-wrapper.common-window .widget-content .title-widget, #widget-call-from-site .widget-wrapper.common-window .widget-content .title-widget {
    font-size: 35px !important;
    font-family: RobotoRegular, Arial, Sans-serif, Helvetica;
    line-height: 35px;
    margin-bottom: 20px;
    color: #ffffff !important;
}

.mng-wgt .widget-wrapper.common-window .widget-content .text-widget, .mng-wgt .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mng-wgt .widget-wrapper.common-window.wait .wait-content .text-widget, .widget-wrapper .widget-wrapper.common-window .widget-content .text-widget, .widget-wrapper .widget-wrapper.common-window.thanks .thanks-content .text-widget, .widget-wrapper .widget-wrapper.common-window.wait .wait-content .text-widget, .mango-callback .widget-wrapper.common-window .widget-content .text-widget, .mango-callback .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mango-callback .widget-wrapper.common-window.wait .wait-content .text-widget, #widget-call-from-site .widget-wrapper.common-window .widget-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.thanks .thanks-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.wait .wait-content .text-widget {
    font-size: 22px !important;
    text-align: center;
    line-height: 32px;
    font-family: RobotoLight, Arial, Sans-serif, Helvetica;
    font-weight: bold !important;
}

.mng-wgt .widget-wrapper.common-window .widget-content .text-widget, .mng-wgt .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mng-wgt .widget-wrapper.common-window.wait .wait-content .text-widget, .widget-wrapper .widget-wrapper.common-window .widget-content .text-widget, .widget-wrapper .widget-wrapper.common-window.thanks .thanks-content .text-widget, .widget-wrapper .widget-wrapper.common-window.wait .wait-content .text-widget, .mango-callback .widget-wrapper.common-window .widget-content .text-widget, .mango-callback .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mango-callback .widget-wrapper.common-window.wait .wait-content .text-widget, #widget-call-from-site .widget-wrapper.common-window .widget-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.thanks .thanks-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.wait .wait-content .text-widget {
    	color: #ffffff !important;
}

.mng-wgt .heavenly-additional-color .button-call:after, .widget-wrapper .heavenly-additional-color .button-call:after, .mango-callback .heavenly-additional-color .button-call:after, #widget-call-from-site .heavenly-additional-color .button-call:after {
	opacity: .2;
	border: none !important;
}

.mango-callback .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input .call-input, .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input .call-input {
	color: #ffffff !important;
}

.mango-callback .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input:before, .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input:before {
    color: #ffffff !important;
}

.mango-callback .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input .call-input, .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input .call-input::-webkit-input-placeholder { 
	color: #ffffff !important; 
}
.mango-callback .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input .call-input, .widget-wrapper.common-window.mng-wgt .widget-content .box-phone-number .box-phone-span-input .call-input:-moz-placeholder { 
	color: #ffffff !important; 
}

.mng-wgt .widget-wrapper.selected-label.widget-wrapper, .widget-wrapper .widget-wrapper.selected-label.widget-wrapper, .mango-callback .widget-wrapper.selected-label.widget-wrapper, #widget-call-from-site .widget-wrapper.selected-label.widget-wrapper {
	color: #ffffff !important;
}

.mng-wgt .widget-wrapper.common-window.thanks .thanks-content .title-widget, .mng-wgt .widget-wrapper.common-window.wait .wait-content .title-widget, .widget-wrapper .widget-wrapper.common-window.thanks .thanks-content .title-widget, .widget-wrapper .widget-wrapper.common-window.wait .wait-content .title-widget, .mango-callback .widget-wrapper.common-window.thanks .thanks-content .title-widget, .mango-callback .widget-wrapper.common-window.wait .wait-content .title-widget, #widget-call-from-site .widget-wrapper.common-window.thanks .thanks-content .title-widget, #widget-call-from-site .widget-wrapper.common-window.wait .wait-content .title-widget {
    margin-bottom: 0;
    color: #ffffff !important;
}

@media screen and (max-width: 450px) {
	.mng-wgt .heavenly-additional-color.common-window .button-call, .widget-wrapper .heavenly-additional-color.common-window .button-call, .mango-callback .heavenly-additional-color.common-window .button-call, #widget-call-from-site .heavenly-additional-color.common-window .button-call {
		background: #8DC63F url(https://lk.mango-office.ru/images/widget/svg/widget/common/phone.svg) no-repeat center;
		background-size: 16px 20px;
	}
}

@media screen and (max-width: 650px) {
	.mng-wgt .widget-wrapper.common-window .widget-content .title-widget, .widget-wrapper .widget-wrapper.common-window .widget-content .title-widget, .mango-callback .widget-wrapper.common-window .widget-content .title-widget, #widget-call-from-site .widget-wrapper.common-window .widget-content .title-widget {
	    font-size: 28px !important;
	    font-family: RobotoRegular, Arial, Sans-serif, Helvetica;
	    line-height: 30px;
	    margin-bottom: 20px;
	    color: #ffffff !important;
	}

	.mng-wgt .widget-wrapper.common-window .widget-content .text-widget, .mng-wgt .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mng-wgt .widget-wrapper.common-window.wait .wait-content .text-widget, .widget-wrapper .widget-wrapper.common-window .widget-content .text-widget, .widget-wrapper .widget-wrapper.common-window.thanks .thanks-content .text-widget, .widget-wrapper .widget-wrapper.common-window.wait .wait-content .text-widget, .mango-callback .widget-wrapper.common-window .widget-content .text-widget, .mango-callback .widget-wrapper.common-window.thanks .thanks-content .text-widget, .mango-callback .widget-wrapper.common-window.wait .wait-content .text-widget, #widget-call-from-site .widget-wrapper.common-window .widget-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.thanks .thanks-content .text-widget, #widget-call-from-site .widget-wrapper.common-window.wait .wait-content .text-widget {
	    font-size: 16px !important;
	    text-align: center;
	    line-height: 25px;
	    font-family: RobotoLight, Arial, Sans-serif, Helvetica;
	    font-weight: bold !important;
	}
	
}

.close-popup{
	width: 50px !important;
	height: 50px !important;
	}
