div
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.spacer
{
    clear: both;
}

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
}

div.content-wrapper
{
    min-height: 100%;
}

div.header-top
{
    height: 30px;
    font-size: 12px;
}

div.header-top-inner
{
    width: 1000px;
    height: 100%;
    padding-top: 6px;
    margin: 0 auto;
}

div.header-top-inner,
div.header-top-inner a
{
    color: #aaaaaa;
}

div.header-top-inner .clinic-login
{
    float: left;
    width: 410px;
    padding-left: 17px;
    background: url(../images/clinic_logo_icon.png) no-repeat left center;
}

div.header-top-inner .location
{
    float: left;
    width: 370px;
    padding-left: 17px;
    background: url(../images/location_icon.png) no-repeat left center;
}

div.header-top-inner .auth
{
    float: right;
    padding-left: 17px;
    background: url(../images/register_icon.png) no-repeat left center;
}

div.header-top-inner .auth .login-btn
{
    margin-left: 20px;
    padding: 3px 10px;
    border-radius: 20px;
    background: #04b1d0;
    color: white;
    text-decoration: none;
}

div.header-bottom
{
    height: 100px;
    background: #038ca5;
}

div.header-bottom-inner
{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-top: 13px;
}

div.header-bottom-inner .logo
{
    float: left;
    width: 175px;
    height: 65px;
    background: url(../images/logo.png) no-repeat left center;
}

div.header-bottom-inner .doctor-select
{
    color: white;
    line-height: 20px;
    font-size: 12px;
}

div.header-bottom-inner .doctor-select .select2-container .select2-choice
{
    height: 40px;
    border-radius: 2px;
    line-height: 40px;
    background: white;
    font-size: 15px;
}

div.header-bottom-inner .doctor-select .select2-container .select2-choice .select2-arrow
{
    border: 0;
    border-radius: 0;
    background: none;
}

div.header-bottom-inner .doctor-select .select2-container .select2-choice .select2-arrow b
{
    background: url(../images/select_arrow.png) no-repeat center center;
}

div.header-bottom-inner .doctor-select form button
{
    width: 163px;
    height: 40px;
    padding-right: 20px;
    border: 1px solid #b53e51;
    border-radius: 0 7px 7px 0;
    vertical-align: middle;
    background: url(../images/search_icon.png) no-repeat 127px center,
        linear-gradient(#f05871, #bd465a);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

div.breadcrumbs-wrapper
{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 30px;
    padding: 10px 10px 10px 0px;
    background: rgba(255, 255, 255, 0.6);
}

div.breadcrumbs
{
    width: 1000px;
    margin: 0 auto;
    color: #999999;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.content
{
    padding: 45px 0 20px;
    color: #333333;
}

div.content-inner
{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

div.content h1
{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

div.content h2
{
    margin: 18px 0;
    color: #04b1d0;
    font-size: 18px;
    font-weight: bold;
}

div.content .text
{
    width: 650px;
    line-height: 1.6em;
}

div.content .col3 .item
{
    float: left;
    height: 230px;
    width: 33.3%;
    padding: 10px 10px 30px;
    line-height: 1.5em;
    color: #666666;
    text-align: center;
}

div.content .col3 .item .img-outer
{
    height: 115px;
}

div.content .col2 .item
{
    float: left;
    height: 230px;
    width: 50%;
    margin-top: 10px;
    line-height: 1.5em;
    color: #666666;
    overflow: hidden;
}

div.content .col2 .item .img-outer
{
    float: left;
    width: 165px;
    padding-top: 30px;
    padding-right: 10px;
    text-align: center;
}

div.content .col2 .item .img-outer img
{
    max-width: 100%;
}

div.content .col2 .item .info
{
    float: left;
    width: 315px;
}

div.content .col2 .item .info .name
{
    margin-bottom: 15px;
}

div.content .tabs-wrapper
{
    position: relative;
}

div.content .tab-line
{
    position: absolute;
    left: -1000px;
    right: -1000px;
    top: 39px;
    height: 1px;
    background: #dddddd;
}

div.content .tabs
{
    height: 770px;
    padding: 0 10px;
}

div.content .tab
{
    float: left;
    width: 33.3%;
}

div.content  .tab-name
{
    display: block;
    position: relative;
    z-index: 1;
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
    background: white;
    color: #aaaaaa;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

div.content .tab.active .tab-name
{
    border: 1px solid #dddddd;
    border-bottom: 0;
    color: #04b1d0;
}

div.content .tab .tab-content
{
    /*display: none;
    position: absolute;
    left: 10px;
    top: 55px;*/
    width: 980px;
}

div.content .tab.active .tab-content
{
    display: block;
}

.tab-content.tab-diseases {
	position: relative !important;
}

div.content .letter-filter
{
    margin: 10px 0 20px 0;
}

div.content .letter-filter span
{
    margin-right: 3px;
    color: #04b1d0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
	font-size: 14px;
	padding: 2px 5px;
}

div.content .letter-filter span.active
{
    color: #333333;
    font-size: 24px;
    text-decoration: none;
    cursor: default;
}

div.content .col3 .col
{
    float: left;
    width: 33.3%;
    padding-right: 10px;
}

div.content .tabs .col a
{
    line-height: 24px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.space-for-footer
{
    height: 685px;
}

footer
{
    height: 685px;
    margin-top: -685px;
}

div.footer-top
{
    height: 450px;
    border-top: 1px solid #eaebec;
    border-bottom: 1px solid #eaebec;
    background: #f8f8f8;
}

div.footer-top-inner
{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    color: #777777;
    font-size: 12px;
}

footer .footer-title
{
    margin: 30px 0 25px;
    color: #04b0cf;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

footer .cols3 .col
{
    float: left;
    width: 33.3%;
    padding: 60px 10px 10px;
}

footer .cols3 .col.col-1    {    background: url(../images/footer_col1_icon.png) no-repeat center top;  }
footer .cols3 .col.col-2    {    background: url(../images/footer_col2_icon.png) no-repeat center top;  }
footer .cols3 .col.col-3    {    background: url(../images/footer_col3_icon.png) no-repeat center top;  }

div.footer-bottom
{
    height: 235px;
}

div.footer-bottom-inner
{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-top: 32px;
}

div.footer-bottom-inner .cols4 .col
{
    float: left;
    width: 25%;
    padding-right: 10px;
}

div.footer-bottom-inner .menu-title
{
    padding-bottom: 15px;
    color: #999999;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.footer-bottom-inner ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.footer-bottom-inner ul li
{
    padding: 0 0 17px 0;
    font-size: 14px;
    font-weight: bold;
}

div.footer-bottom-inner ul li a
{
    color: #333333;
    text-decoration: none;
}

div.footer-bottom-inner .copyright
{
    padding: 15px 0;
    color: #adadad;
    font-size: 10px;
}

div.footer-bottom-inner .social > a
{
    float: left;
    display: block;
    width: 42px;
    height: 39px;
    margin-right: 6px;
    background: url(../images/social_sprite.png) no-repeat;
}

div.footer-bottom-inner .social .vk {   background-position: 0 0;   }
div.footer-bottom-inner .social .fb {   background-position: -46px 0;   }
div.footer-bottom-inner .social .tw {   background-position: -92px 0;   }
div.footer-bottom-inner .social .ok {   background-position: -137px 0;   }
div.footer-bottom-inner .social .gp {   background-position: -182px 0;   }

#map
{
    width: 100%;
    height: 330px;
    margin-bottom: -40px;
}

div.clinic-main .image
{
    float: left;
    width: 175px;
    padding: 10px 0;
}

div.clinic-main .image img
{
    position: relative;
    top: -50px;
}

div.clinic-main .clinic-main-info
{
    float: left;
    width: 485px;
}

div.clinic-main .clinic-main-info .text
{
    margin: 8px 0 6px;
}

div.clinic-main .clinic-main-info .contacts
{
    line-height: 24px;
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.clinic-main .clinic-main-info .contacts a
{
    font-size: 14px;
    text-transform: none;
}

div.clinic-main .clinic-main-info .rating
{
    padding: 10px 0;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

div.clinic-main .clinic-main-info .rating .star
{
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../images/star_off.png);
}

div.clinic-main .clinic-main-info .rating .star.active
{
    background: url(../images/star.png);
}

div.clinic-main .clinic-main-info .worktime
{
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.clinic-main .clinic-main-info .worktime table
{
    width: 155px;
    margin: 4px 0;
    border-collapse: collapse;
    color: #555555;
    font-size: 14px;
    font-weight: normal;
}

div.clinic-main .clinic-main-info .worktime table td
{
    padding: 4px 0;
}

div.clinic-main .record
{
    float: left;
    width: 340px;
    padding: 15px 10px;
}

div.clinic-main .record button
{
    width: 100%;
    height: 54px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: #8dc63f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

div.clinic-nav-wrapper
{
    height: 80px;
    padding: 22px 0;
    margin-bottom: 20px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background: #f8f8f8;
}

div.clinic-nav-wrapper .col4 .col
{
    float: left;
    width: 25%;
    height: 30px;
    padding: 0 10px 0 45px;
    color: #333333;
    font-size: 30px;
}

div.clinic-nav-wrapper .col4 .col.col-1 {    background: url(../images/detail_icon.png) no-repeat left center;  }
div.clinic-nav-wrapper .col4 .col.col-2 {    background: url(../images/price_icon.png)  no-repeat left center;  }
div.clinic-nav-wrapper .col4 .col.col-3 {    background: url(../images/review_icon.png) no-repeat left center;  }
div.clinic-nav-wrapper .col4 .col.col-4 {    background: url(../images/doctor_icon.png) no-repeat left center;  }

div.clinic-nav-wrapper .col4 .col a
{
    display: inline-block;
    height: 100%;
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.clinic-nav-wrapper .col4 .col a.one-line
{
    height: 62%;
    vertical-align: middle;
}

.left-padding
{
    padding-left: 175px;
}

.spoiler-level-1
{
    width: 455px;
}

.spoiler-level-1 > .spoiler-title
{
    padding: 10px 0;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    background: url(../images/gray_dot.png) repeat-x left center;
    cursor: pointer;
}

.spoiler-level-1 > .spoiler-title img
{
    background: white;
}

.spoiler-level-1 > .spoiler-title span
{
    padding: 0 5px;
    background: white;
}

.spoiler-level-1 > .spoiler-title .arrow
{
    float: right;
    width: 18px;
    height: 18px;
    background: white url(../images/select_arrow.png) no-repeat center 10px;
}

.spoiler-level-1.open > .spoiler-title .arrow
{
    background: white url(../images/arrow_up.png) no-repeat center 4px;
}

.spoiler-level-1 > .spoiler-text
{
    display: none;
}

.spoiler-level-1.open > .spoiler-text
{
    display: block;
}

.spoiler-level-2 > .spoiler-title
{
    padding: 8px 0;
    color: #04b1d0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.spoiler-level-2 > .spoiler-text
{
    display: none;
    padding: 0 10px;
}

.spoiler-level-2.open > .spoiler-text
{
    display: block;
}

.spoiler-level-2.open > .spoiler-text table
{
    width: 410px;
    color: #555555;
    font-size: 14px;
}

.spoiler-level-2.open > .spoiler-text table td
{
    padding: 3px 0;
    vertical-align: top;
}

.spoiler-level-2.open > .spoiler-text table td.right
{
    padding-left: 10px;
    white-space: nowrap;
    font-weight: bold;
}








.spoiler-level-3.open > .spoiler-title
{
    display: none;
}

.spoiler-level-3 > .spoiler-text
{
    display: none;
}

.spoiler-level-3.open > .spoiler-text
{
    display: block;
}





.blue-btn
{
    margin-right: 15px;
    padding: 5px 7px;
    border: 0;
    border-radius: 5px;
    background: #04b1d0;
    color: white;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.spoiler-level-1.reviews .safe-reviews
{
    display: inline-block;
    height: 20px;
    margin-bottom: 10px;
    padding: 5px 0;
    padding-left: 20px;
    background: url(../images/safe_icon.png) no-repeat left center;
    color: #999999;
    font-size: 12px;
}

.spoiler-level-1.reviews .review
{
    padding: 10px 0;
    line-height: 20px;
    color: #555555;
    font-size: 14px;
}

.spoiler-level-1.reviews .review .author
{
    padding-left: 40px;
    margin-top: 10px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #aaaaaa;
    font-size: 12px;
}

.doctors 
{
    height: 420px;
    margin-top: 20px;
    background: url(../images/doctor_bg.jpg) no-repeat center top;
}

.doctors .doctor-title
{
    padding: 20px 0;
    color: #015162;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.doctors .slider-wrapper
{
    position: relative;
    height: 320px;
}

.doctors .slider-wrapper .arrow
{
    position: absolute;
    top: 50%;
    width: 18px;
    height: 30px;
    margin-top: -15px; 
    background: url(../images/slider_arrows.png) no-repeat;
    cursor: pointer;
}

.doctors .slider-wrapper .arrow.left
{
    left: -30px;
    background-position: left center;
}

.doctors .slider-wrapper .arrow.right
{
    right: -30px;
    background-position: right center;
}

.doctors .slider-wrapper .slide
{
    float: left;
    width: 480px;
    height: 320px;
    margin: 0 10px;
    padding: 20px 20px 10px;
    background: white;
}

.doctors .slider-wrapper .slide .left
{
    float: left;
    width: 140px;
    margin-right: 15px;
}

.doctors .slider-wrapper .slide .left a
{
    display: block;
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border-radius: 5px;
    background: #8dc63f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}


.doctors .slider-wrapper .slide .right
{
    float: left;
    width: 285px;
}

.doctors .slider-wrapper .slide .name
{
    color: #04b1d0;
    font-size: 18px;
    font-weight: bold;
}

.doctors .slider-wrapper .slide .rating
{
    padding: 12px 0;
}

.doctors .slider-wrapper .slide .rating .star
{
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../images/star_off.png);
}

.doctors .slider-wrapper .slide .rating .star.active
{
    background: url(../images/star.png);
}

.doctors .slider-wrapper .slide .rating a
{
    position: relative;
    top: -3px;
}

.doctors .slider-wrapper .slide .job
{
    height: 70px;
    line-height: 20px;
    color: #333333;
    font-size: 14px;
}

.doctors .slider-wrapper .slide .job span
{
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
}

.doctors .slider-wrapper .slide .contacts
{
    line-height: 20px;
}

.doctors .slider-wrapper .slide .contacts span
{
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
}

.doctors .slider-wrapper .slide .price
{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    color: #aaaaaa;
    font-size: 14px;
    text-align: center;
}

.popup
{
    display: none;
}

.popup.record-form
{
    position: absolute;
    z-index: 100;
    width: 320px;
    height: 555px;
    margin-top: -370px;
    padding: 20px;
    border: 1px solid #e6e0da;
    border-radius: 5px;
    background: #f2fbfd;
}

.popup.review-form
{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-left: -160px;
    margin-top: -240px;
    width: 320px;
    height: 485px;
    padding: 20px;
    border: 1px solid #e6e0da;
    border-radius: 5px;
    background: white;
}

.popup.review-form .title
{
    padding-left: 45px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    background: url(../images/review_icon.png) no-repeat left center;
}

.popup.record-form .title
{
    color: #04b0cf;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

input.pwd
{
    width: 65%;
}

div.show-pwd
{
    display: inline-block;
    width: 35%;
    height: 45px;
    padding: 14px 12px;
    border: 1px solid #dddddd;
    background: #f8f8f8;
}

div.show-pwd label
{
    color: #666666;
    font-size: 15px;
}

textarea
{
    height: 140px;
    resize: none;
}

label.inline
{
    display: inline-block;
}

.comment
{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}

.popup button,
button.green
{
    width: 100%;
    height: 54px;
    margin-top: 10px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: #8dc63f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button.gray
{
    width: 100%;
    height: 54px;
    margin-top: 10px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: #aaaaaa;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.popup .close
{
    position: absolute;
    right: -25px;
    top: 11px;
    width: 18px;
    height: 18px;
    background: url(../images/close.png);
    cursor: pointer;
}

.popup.record-form .date-wrapper
{
    position: relative;
}

.popup.record-form .date-wrapper .arrow
{
    position: absolute;
    top: 50%;
    margin-top: -5px;
    width: 5px;
    height: 9px;
    background: url(../images/date_arrows.png);
    cursor: pointer;
}

.popup.record-form .date-wrapper .arrow.left
{
    left: 15px;
    background-position: left top;
}

.popup.record-form .date-wrapper .arrow.right
{
    right: 15px;
    background-position: right top;
}

.popup.record-form .date
{
    color: #04b0cf;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.popup.record-form .time
{
    float: left;
    width: 55px;
    height: 40px;
    margin-right: 19px;
    margin-bottom: 20px;
    padding: 11px 0;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background: white;
    color: #04b0cf;
    text-align: center;
    cursor: pointer;
}

.popup.record-form .time:nth-of-type(4n+4)
{
    margin-right: 0;
}

.popup.record-form .time.active
{
    border: 1px solid #04b1d0;
    background: #04b1d0;
    color: white;
}

#overlay
{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
    z-index: 90;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}

form.step1
{
    width: 320px;
}

form.step1 .reg-help
{
    position: absolute;
    right: 10px;
    top: 165px;
    width: 485px;
    height: 320px;
    border: 1px solid #b3e7f1;
    border-radius: 3px;
    background: #f2fbfd;
}

form.step1 .reg-help .title
{
    padding: 30px;
    color: #50c8dd;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

form.step1 .reg-help .text
{
    width: 100%;
    padding-left: 165px;
    background: url(../images/help_icon.png) no-repeat 25px 25px;
}

form.step2
{
    width: 640px;
}

form.step2 .reg-help
{
    position: absolute;
    right: 10px;
    top: 368px;
    width: 320px;
    height: 320px;
    padding: 20px;
    border: 1px solid #b3e7f1;
    border-radius: 3px;
    background: #f2fbfd;
}

form.step2 .reg-help .title
{
    padding-left: 55px;
    background: url(../images/help_icon.png) no-repeat 0 center / 16%;
    color: #50c8dd;
    font-size: 24px;
    font-weight: bold;
}

form.step1 .reg-help .text,
form.step2 .reg-help .text
{
    width: 100% !important;
}

.input-wrapper-1
{
    float: left;
    width: 25%;
    padding-right: 10px;
}

.input-wrapper-2
{
    float: left;
    width: 50%;
}

.uploaded-img
{
    position: relative;
    width: 155px;
    height: 108px;
    border: 1px solid #d7d7d7;
    background-position: center center;
}

.uploaded-img .loop
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url(../images/file_loop.png) no-repeat center center;
    cursor: pointer;
}

.uploaded-img .delete
{
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 3;
    width: 12px;
    height: 12px;
    background: url(../images/file_delete.png) no-repeat center center;
    cursor: pointer;
}

.tariff-wrapper
{
    width: 980px;
}

.tariff
{
    float: left;
    width: 235px;
    height: 320px;
    padding: 19px;
    margin-right: 13px;
    border: 1px solid #b3e7f1;
    border-radius: 5px;
}

.tariff.selected
{
    border-color: #6ed2e4;
    background: linear-gradient(#72d3e5, #04b1d0);
}

.tariff:nth-of-type(4n+4)
{
    margin-right: 0;
}

.tariff .name
{
    color: #50c8dd;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.tariff.selected .name
{
    color: white;
}

.tariff .desc
{
    padding: 10px 0 6px;
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.tariff.selected .desc
{
    color: #d9f3f8;
}

.tariff .data
{
    padding: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.tariff .data .value
{
    color: #666666;
    font-size: 14px;
}

.tariff.selected .value
{
    color: white;
}

.tariff .data .field
{
    color: #aaaaaa;
    font-size: 10px;
}

.tariff.selected .field
{
    color: #d9f3f8;
}

.tariff .data .price
{
    color: #50c8dd;
    font-size: 30px;
    font-weight: normal;
}

.tariff.selected .price
{
    color: white;
}

.tariff button.select
{
    width: 100%;
    height: 34px;
    border: 0;
    border-radius: 5px;
    background: #04b1d0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.tariff.selected button.select
{
    border: 1px solid white;
}

input.short
{
    width: 210px;
}

button.check
{
    height: 45px;
    padding: 11px;
    border: 1px solid #dddddd;
    color: white;
    background: #99cc33;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.name {
	display: block;
	float: none;
}

.info
{
	margin: 0;
	border: none;
}

.team
{
    padding: 10px 0;
}

.team .item
{
    float: left;
    width: 50%;
    height: 155px;
    margin-bottom: 30px;
}

.team .image
{
    float: left;
    width: 155px;
    margin-right: 10px;
}

.team .info
{
    float: left;
    width: 320px;
	border: none;
	margin: 0;
}

.team .info .name
{
    margin-bottom: 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
	float: none;
}

.team .info .job
{
    margin-bottom: 15px;
    color: #333333;
    font-size: 14px;
}

.team .info .email
{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.SECTION {
	width: 100%;
	overflow: hidden;
}

.price-box-inner {
	font-style: normal !important;
}