﻿body {background: none; background-color: #eee; color: #000;}

h2 {
	color: #000;
	font-weight: auto;
	font-size: 20px;
}
p:not(.copyright) {
	font-size: 14px;
	color: #000;
}

a[href^="http://top100.rambler.ru/home?id=3047466"] {display: none;}
a {text-align: inherit;}
a.nl {display: inline; text-decoration: none!important;}
a.nomp {margin: 0!important; padding: 0!important;}

#mydialog {

}

.wrapper {
	width: 950px;
	background-color: #ffffff;
	margin: 0px auto 0;
	min-height: 100%;
	height: auto !important;
}

.wrapper.clinic {
	margin-top: 0;
	padding-top: 0px;
}

.ctable {display: table; width: 100%; border-collapse: collapse;}
.ctable tr {display: table-row;}
.ctable tr td {display: table-cell; text-align: center; border: 1px solid lightgray; border-top: none; padding: 0px; background-color: #fafafa; vertical-align: middle;}
.ctable:not(.htable) tr td a {display: block; padding: 10px 4px; color: #000; text-decoration: none;}
.ctable tr td a:hover {text-decoration: underline;}
.ctable tr td.ctable_th {padding: 2px 0; font-size: 11px; color: #000;}
.ctable tr td.c1 {background-color: #D9F7FF;}
.ctable tr td.c2 {background-color: #8EFF8A;}
.ctable tr td.c3 {background-color: #F1FFA3;}

.ctable tr td:first-child {border-left: none;}
.ctable tr td:last-child {border-right: none;}


.calendar_table {}
.calendar_table>tr:first-child>td {height: 20px;}
.calendar_table tr td {border: 1px solid lightgray; height: auto; max-width: 100px; vertical-align: top; background-color: #fff;}

.calendar_table tr td .add {display: block; visibility: hidden; none; top: 0; padding: 4px 2px!important; border-bottom: 2px solid green; background-color: #8EFF8A;}
.calendar_table tr td:hover .add {visibility: visible;}

.calendar_app {
	display: block;
	height: 30px;
	background-color: #D9F7FF; /*#8EFF8A;*/
}

.calendar_app_header {
	color: #000;
	margin-top: 2px;
	font-size: x-small;
	padding-bottom: 6px;
	cursor: pointer;
}

.calendar_app_block {
	
	display: none; /* table */
	z-index: 500;
	position: absolute;
	top: 0;
	left: 0;
	margin: 115px auto auto 74px;
	width: 800px;
	border: none;
	padding: 2px;
	font-size: 10px;
	vertical-align: middle;
}

.calendar_app_block>div.tr {display: table-row;}
.calendar_app_block>div.tr>div {
	display: table-cell; 
	padding: 6px 6px;
	border: 1px solid gray;
	#border-left: none;
	#border-right: none;
	height: 10px; 
	text-align: left; 
	background-color: #fff; 
	color: #000;
	font-size: 18px;
}

.calendar_app_close_button {
	position: absolute;
	width: 20px;
	top: -15px;
	right: -15px;
	padding: 6px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}


.btn-small {display: inline-block; padding: 6px; margin: 2px 2px; box-shadow: 1px 1px 0px gray, -1px -1px 0px #eee; cursor: pointer; color: #000;}
.btn-small-green {background-color: #8EFF8A;}
.btn-small-red {background-color: #FF5500; color: #fff;}
.btn-small-blue {background-color: #D9F7FF;}


.fixed_table_layout {table-layout: fixed;}

.htable tr>td {padding: 10px; background: none; border-left: none; border-right: none;}

.crm_logo {max-height: 40px;}
.crm_manager_img {display: inline; float: right; margin: 0 10px; max-height: 50px; max-width: 100px;}

.search-result-table tr td {text-align: left;}

.btn, .btn-green, .btn-red, .btn-blue, .nav_cal .btn_nav {
	background: none !important;
	background-color: #eee !important;
	border-radius: 0px !important;
	text-shadow: none !important;
	cursor: pointer;
	min-height: 28px !important;
	height: auto !important;
}
.btn-green, .btn.active {background-color: #4bc628 !important;}
.btn-red {background-color: #FF5500 !important;}
.btn-blue {background-color: #45B1C6 !important;}
.btn-yellow {background-color: #DEE600 !important;}

.select2-container .select2-choice, .nav_cal .btn_nav, .custom-text {border-radius: 0;}


@-webkit-keyframes css-animation-blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes css-animation-blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes css-animation-blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#waitWhileLoading {
	-webkit-animation: css-animation-blinking 0.65s infinite alternate; /* Safari 4+ */
	-moz-animation:    css-animation-blinking 0.65s infinite alternate; /* Fx 5+ */
	-o-animation:      css-animation-blinking 0.65s infinite alternate; /* Opera 12+ */
	animation:         css-animation-blinking 0.65s infinite alternate; /* IE 10+, Fx 29+ */
}

.vtable {display: table; width: 100%; border-collapse: collapse;}
.vtable tr {display: table-row;}
.vtable tr td, .vtable tr th {display: table-cell; text-align: center; border: 1px solid lightgray; padding: 2px; background-color: #fff; vertical-align: middle;}
.vtable tr th {background-color: #f9f9f9; padding: 2px 2px 4px 2px;}

.std_table  tr td input {width: 90%; padding: 4px;}
.std_table tr td:nth-child(2) {width: 250px;}
.std_table tr td:nth-child(3) {color: darkgray;}

.inline-block {display: inline-block!important;}
.vmargin {margin: 30px 0;}
.margin4 {margin: 4px;}
.padding2 {padding: 2px!important;}
.btn-small-wide {padding: 5px 10px;}
.line_height_ext {line-height: 2;}

.crm_filters {padding: 4px; margin: 10px 4px;}

#input_s_type {padding: 5px;}

.dark_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: #000;
	opacity: 0.6;
	display: none;
}

/*.service-table tr:hover {
	background-color: lightyellow;
}*/

.btn-experts {
	display: block;
	min-width: 150px;
	min-height: 0 !important;
	height: auto !important;
	line-height: inherit !important;
	padding: 2px;
	margin: 2px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
}

.btn-experts:active {
	color: yellow !important;
}

div.changeExpertsMainAddress {
	margin-left: 20px;
}

.minicrm_warning {
	color: red;
}

.code {
	width: 400px;
	border: 1px solid lightgray;
	padding: 10px;
	background-color: #fafafa;
}

.appFormBlock {
	float: left;
	margin: 10px 0 0 10px;
}

.appFormBlock:nth-child(2) {
	margin-left: 40px;
}

/* common styles (newAdmin, adminClinic etc.) */
.manager-comment {
	width: 100px;
	height: 60px;
	font-size: 12px;
	color: #000;
	line-height: 1.4;
	margin: 0 0 4px 0;
}

.service-input-hint {
	padding: 0 4px;
    background-color: #eee;
    width: 64px;
    box-sizing: border-box;
	/* display: inline-block; */
	/* display: none; */
}
