﻿/*@media (width: 1024px) and (max-height: 600px), (width: 1280px) and (height: 800px), (width: 1280px) and (height: 727px) {*/

.footer {
	display: none;
}
.middle {
	padding: 0;
}

a[href="http://ssl.comodo.com/wildcard-ssl-certificates.php"] {
	display: none;
}

div.wrapper.clinic  {
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
}

.hide_when_compact {
	display: none;
}

textarea.userText {
	height: 60px;
}

.fixedfont {
	font: 114px Arial!important;
}

.calendar_app_close_button, .md-close {
	width: 50px;
	padding: 10px;
	text-align: center;
}

.btn-small {
	padding: 10px;
}

.calendar_table tr:not(:first-child) td {
	height: 50px;
	vertical-align: middle;
}

.calendar_table tr td .add {
	visibility: visible;
	background-color: #fff;
	font-size: 40px;
	color: #eee!important;
	padding: 14px 10px 18px 10px!important;
	border: none;
	text-align: center;
	/*	padding: 0!important;
	margin: 6px 0 12px 0!important;*/
}

.calendar_app {
	padding: 22px 10px;
	border: 1px solid lightgray;
	/*border-top: none;*/
}

.calendar_app_block {
	position: fixed;
}







/*}/*