@media (max-width: 1000px) {
	.main-img {
		height: 300px;
	}
	.show_more_news_btn {
		width: auto !important;
	}
	div.news_block .title-current-annonce span {
		padding: 0 !important;
		font-family: 'ReformaGroteskDemiC';
	}
	.news-detail {
		margin-right: 5px;
		width: auto;
	}
	.new-list, .news_block, .news_block_content {
		margin-left:0 !important;
		margin-right:0 !important;
		margin-top:0 !important;
		margin-bottom:0 !important;
	}
	.main-img .title-main-post {
		font-size: 32px;
	}
	.blog-annonce {
		width: 100% !important;
		margin: 1px 0 !important;
		border: 0px solid silver !important;
	}
	.NewsController .col3 {
		display: none;
	}
	.btn_clinic_sign {
		width: auto;
		height: auto;
	}
	.title-current-annonce {
		display: block !important;
	}

	.view_full .doctor_card_column_sign .sign_button_block,
	.view_full .doctor_card_column_description .price-box {
		display: block !important;
	}
	.phone-block,
	.view_full .doctor_card_column_price {
		display: none !important;
	}

	.disease-description {
		width:auto;
	}
	.tab-diseases {
		width: auto !important;
	}
	.tab-line {
		display: none;
	}
	div.content-inner {
	    width: auto;
	}
	.links td {
    	display:block;
    	width:auto;
		padding: 0 0 0 20px;
	}
	.links td:first-child {
		padding: 0 0 0 20px;
	}
	.pages {
	    text-align: center;
	    padding: 10px 0;
	    width: 260px;
	}
	div.content .letter-filter {
	    margin: 10px 0 20px 0;
	    width: 260px;
	    display: block;
	}


	.md-close {
		display: none;
	}
	.md-content, .md-after-content {
		padding: 10px;
	}
	.service-table td, .service-table th {
		/*display: block;*/
		padding: 0 0 5px 0;
	}
	.service-table h3 {
		font-size: 16px;
    	line-height: 20px;
	}
	.btn-purchase-service {
	    margin: 10px 0 0 0;
	    width: 100%;
	    padding: 15px;
	    font-size: 18px;
	}
	.purchase-service-name, .purchase-service-phone {
	    width: 95%;
	    height: 25px;
	    border: 1px solid #c4c4c4;
	    border-radius: 2px;
	}
	.search-doctor-filter, .search-clinic-filter {
		display: table;
		margin: 0 auto 0 auto;
		padding: 0 !important;
	}
	.mobilecrumbs {
	    display: block !important;
	    background: url(/images/icons/nav-drop.png) no-repeat left #ecf5f9;
	    font-size: 12px;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 11px 0 11px 0;
	}
	.mobilecrumbs a:last-of-type {
		display: block;
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 70px;
		margin: -11px 0 0 0;
		padding: 0;
	}
	.mobilecrumbs * {
		display: none;
	}
	.mobilecrumbs *:last-child {
		display: block !important;
	}
	.crumbs {
		display: none;
	}
	.xdsoft_datetimepicker {
		/*display: none !important;*/
	}
	.new-calendar .picker {
		/*display: none !important;*/
	}
	.doctor-right-block {
		position: initial !important;
		width: auto !important;
		margin: initial !important;
		display: none;
	}
	.next_content .doctor-right-block {
		display: block !important;
	}
	.doctor-right-block .appointment {
		width: auto !important;
		background: white;
    	border: 1px solid white;
	}
	.doctor-right-block .appointment .appointment_header {
		display: none !important;
	}
	.appointment .search-result-table {
		width: 95% !important;
	}
	#datetimepicker {
		/*display: block !important;*/
		padding: 10px 10px 0px 0px;
		text-align: right;
		margin: 0;
	}
	#appointment_main .custom-text {
		height: 40px;
	}
	#appointment_main .custom-text-placeholder {
		position: absolute;
	    margin: -29px 0px 0px 6px;
	    color: #aaa;
	    text-align: left;
	    left: 0;
	}
	.md-modal {
		display: none;
		position: absolute;
		position: absolute;
    	margin-top: 20px;
    	width: 90%;
    	left: 50%;
	}
	.md-overlay {
		display: none;
	}
	.onicon_chat-hint-wrap {
	    display: none !important;
	}
	.slogan-newlayout {
	    font-size: 24px !important;
	    font-weight: bold !important;
	    padding-top: 0px !important;
	    padding-bottom: 0px !important;
	    text-align: center !important;
	    line-height: 50px;
	    height: auto !important;
	}
	.slogan {
		display: none;
	}
	.LOGO_MAIN, .LOGO_MAIN-mini {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		padding-top: 0px !important;
		width: 160px;
    	height: 50px;
	}
	.SECTION {
        min-width: 100% !important;
	}
	.SEARCH_RESULT {
		min-height: auto !important;
	}
	.search_result_footer {
		padding-bottom: 0 !important;
	}
	.main_column, .wrapper, .content {
        width: auto !important;
        min-width: auto !important;
	}
	.SECTION.FIRST_SCREEN,
	.SECTION.SEARCH_BOX_HEAD {
		background: #008fa9 !important;
	}
	.SECTION.FIRST_SCREEN .main_column,
	.SECTION.SEARCH_BOX_HEAD .main_column {
		height: auto !important;
		text-align: center;
	}
	.SECTION.SEARCH_FILTERS {
		display: none !important;
	}
	.SECTION.all-spec {
		display: none !important;
	}
	.SECTION.TEXT_PAGE {
		display: none !important;
	}
	.SECTION.FOOTER {
		padding-top: 8px;
		display: inline-block;
	}
	.stats_block {
		display: block !important;
		width: 100% !important;
		min-width: auto !important;
    	max-width: auto !important;
	}
	.top_docs_wrapper {
		width: 95% !important;
	}
	.news_block {
        width: 100% !important;
        height: 100%;
	}
	.news_annonce {
		width: 100%;
	}
	.landing_slogan_long {
        width: 100% !important;
	}
	.search-box_newlayout {
        width: 97% !important;
        text-align: left !important;
        padding: 0px 0px 13px 0px;
	}
	.stats_icon_doctor,
	.stats_icon_hosp,
	.stats_icon_check {
		margin-left: 15px;
		background-size: 27px;
    	width: 27px;
    	height: 27px;
	}
	.stats_value {
	    min-width: 16%;
	    font-size: 26px;
	    text-align: center;
	}
	.stats_description br,
	.stats_description_annotation {
		display: none !important;
	}
	.searchBoxOmsSwitch,
	.footer_block,
	.logo_shape {
		display: none !important;
	}
	.city-in-search {
		display: none !important;
	}
	.footer_copyright {
		padding-top: 0px !important;
	}
	.footer_content {
		width: auto !important;
	}
	.footer_block_header,
	.footer_social_icons {
		display: inline-block;
		font-size: 12px;
        margin: 0 10px 0 0;
        padding: 0;
	}
	.footer_social_network {
		margin-left: 10px;
		width: auto !important;
		text-align: left;
		float: none;
	}
	.footer_item {
		line-height: auto !important;
	}
	.social-icon {
		width: 28px !important;
    	height: 28px !important;
    	margin: 0 0 0 5px;
	}
	.footer_social_network .footer_item>span>span {
		color: #333;
		background: none;
		padding: 0;
	}

	#s2id_Search_doctorSpecialtyId,
	#s2id_Search_companyServiceId,
	#s2id_Search_companyActiviteId,
	#s2id_Search_metroStationId {
		#display: none !important;
		position: relative !important;
	    height: 60px !important;
	    width: 100% !important;
	    margin: 0 0 0px 0 !important;
	    border-radius: 4px !important;
	    background: white;
	}

	#s2id_Search_doctorSpecialtyId .select2-choice,
	#s2id_Search_companyServiceId .select2-choice,
	#s2id_Search_companyActiviteId .select2-choice,
	#s2id_Search_metroStationId .select2-choices {
		height: 58px !important;
		width: 97% !important;
		padding: 0 !important;
    	margin: 0 !important;
		border-radius: 4px !important;
		border: 0px solid transparent !important;
	    font-size: 20px !important;
	    color: rgb(51,51,51) !important;
	}
	#s2id_Search_metroStationId .select2-input,
	#s2id_Search_metroStationId2 .select2-input {
		height: 58px !important;
		width: 97% !important;
		padding: 0 !important;
    	margin: 0 !important;
		border-radius: 4px !important;
		border: 0px solid transparent !important;
	    font-size: 20px !important;
	    color: rgb(51,51,51) !important;
		padding-left: 20px !important;
	}
	#Search_metroStationId,
	#Search_doctorSpecialtyId,
	#Search_companyActiviteId,
	#Search_companyServiceId {
		border-radius: 4px 4px 4px 4px !important;
		background: transparent;
		background-color: #fff;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-appearance: none;
		font-size: 18px;

		display: block !important;
		width: 100% !important;
    	height: 60px !important;
    	position: relative !important;
    	margin: -60px 0 5px 0 !important;
    	padding: 0 0px 0 10px !important;
    	opacity: 0.0;
	}
	.search-btn {
		font-size: 21px !important;
    	font-weight: bold !important;
		margin: 0px 0px 0px 0px !important;
		height: 60px !important;
    	left: 0 !important;
	    display: inline-block !important;
        position: relative !important;
        width: 100% !important;
        text-align: center !important;
		border-radius: 4px 4px 4px 4px !important;
	}
	.search {
		height:100% !important;
		padding: 0 8px 0 8px !important;
	}
	.SECTION.WHITE_HEAD,
	.SECTION.POPULAR_SERVICES,
	.SECTION.ASK_DOCTOR,
	.SECTION.TOP_DOCS,
	.SECTION.WRITE_ABOUT_US,
	.SECTION.NEWS_EVENTS,
	.SECTION.REVIEWS,
	.SECTION.landing_section,
	.SECTION.IPHONE,
	.SECTION.SEO,
	.SECTION.ADVANTAGES,
	.SECTION.BONUS,
	.SECTION.ENCYCLOPEDIA,
	.SECTION.SEO2 {
		display: none !important;
	}
	.none-in-responsive {
		display: none !important;
	}
	.show-in-responsive {
		display: block !important;
	}
	.btn_securityOfAppointment,
	.appointment_header {
		display: none !important;
	}
	.search-box .search-row {
		margin: 0 !important;
		background: #b4b4b4;
    	padding: 12px 11px 6px 11px;
	}
	.select2-container .select2-choice abbr {
		right: 10% !important;
    	top: 38% !important;
	}
	#Doctor_clinicLinkUrl {
	    width: 235px !important;
	    height: 40px !important;
	    display: block;
	    position: absolute !Important;
	    margin: -40px 0 0 0 !important;
	    top: initial !important;
	    left: initial !important;
	    clip: initial !important;
	    opacity: 0;
	}
	#s2id_Search_doctorSpecialtyId .select2-chosen,
	#s2id_Search_companyServiceId .select2-chosen,
	#s2id_Search_companyActiviteId .select2-chosen,
	#s2id_Search_companyServiceId .select2-chosen {
		padding: 16px 16px 0px 18px !important;
		display: block !important;
		font-size: 20px !important;
	    width: 97% !important;
	    border-radius: 4px !important;
	    border: 0px solid transparent !important;
	    font-size: 20px !important;
	    color: rgb(51,51,51) !important;
	    position: absolute !important;
	}
	.doctor_card, .clinic_card {
	    display: block;
	    width: 97% !important;
	    height: auto;
	    margin-left: auto !important;
	    margin-right: auto !important;
	    margin-top: 5px !important;
	    border: 2px solid #dcdcdc;
	    padding: 0;
	    box-shadow: none;
	}
	.doctor_card_column_sign {
		width: 25%;
		max-width: 140px;
		min-height: 140px;
	}
	.doctor_card_content {
		padding: 10px;
	}
	.doctor_rank_block {
		max-height: auto;
	}
	.items {
	    margin: auto;
	    padding-bottom: 25px;
	}
	.card_row {
		padding-top: 0px;
    	padding-bottom: 0px;
    	line-height: 16px;
	}
	.definition {
		display: none;
	}
	.search-box .search-btn {
		display: none !important;
	}
	.SECTION.SEARCH_BOX_HEAD {
		padding: 0 !important;
	}
	.show_more_btn {
		width: auto !important;
	}
	.search-found {
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		margin-top: 6px;
	}
	
	.search-result-head .show_on_map {
		/*display: none;*/
	}
	#search_map .clinic-map{
		min-width: 150px !important;
	}
	.clinic-map {
		width: 300px !important;
		height: 300px !important;
	}
	.search-result-head {
		border-bottom: 1px solid #dcdcdc;
    	width: 97%;
    	margin: auto;
    	padding: 0;
	}
	.empLoyaltyProgram {
		max-width: auto;
		background-size: 100%;
    	margin: 0;
    	padding: 0;
	}
	.doctor-middle-block {
		float: initial;
    	width: auto;
    	margin: 10px 10px 10px 10px;
	}
	.klinika-right-block {
		display: none;
	}
	.doctor_section_column_sign {
		display: table-cell;
		float: initial;
		width: auto;
		vertical-align: top;
		min-width: 25% !important;
	}
	.doctor_section_content {
		padding: 0;
		margin: 10px 10px 10px 10px;
    	width: auto !important;
	}
	.doctor_section_column_description {
		display: table-cell;
		float: initial;
		width: auto;
		vertical-align: top;
	}
	.doctor_section_column_description .doctor_rate_block {
		display: none;
	}
	.doctor_section_column_description .doctor_rate_block {
		/*display: none;*/
	}
	.doctor_section_column_description .doctor_rank-address_block {
		padding: 0;
	}
	.doctor_card_main_left {
		margin: 0;
		position:inherit;
		width: 100%;
	}
	.SECTION.menu_group {
		display: none;
	}
	.ABS-MAP{
		height: 370px;
	}
	.map_block{
		display: none;
	}
	.ClinicController .map_block {
		display: block;
		position: absolute;
		top: 405px;
	}
	table.workingHours tbody td {
		padding: 3px 3px 3px 0px !important;
	}
	.btn_clinic_sign{
		margin-top: 305px;
		position: absolute;
		width: 96%;
		font-size: 14px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.phone_clinic{
		position: absolute;
		width: 96%;
		margin-top: 345px;
	}
	.icon_shape_micro, .icon_ellipse_micro, .icon_comments_micro, .icon_photogallery_micro{
		display: none;
	}
	.phone-appointment-text{
		margin-top: 5px;
	}
	.doctor_rate_block{
		transform: scale(0.9);
		width: 100%;
		margin-left: -12px;
	}
	.short-search-box{
		padding: 10px;

		display: none;
	}
	.short-search-box .search-doctor-filter{
		width: 100%;
		margin-top: 8px;
	}
	.search-doctor-filter{
	    padding: 0 10px 0 10px !important;
	    display: inherit;
	}
	.search-doctor-filter .select2-container{
		width: 100% !important;
		margin-right: 0px !important;
	}
	.search-doctor-filter .price_slider_container_mobile{
		width: 100%;
	}
	.filtr-ms{
		cursor: pointer;
		float: right;
		margin-right: 10px;
		display: block;
	}


	.jcarousel-wrapper {
		margin: 20px auto;
		position: relative;
		padding: 0px 20px;
	}

	/** Carousel **/

	.jcarousel {
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	.jcarousel ul {
		width: 20000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.jcarousel li {

		float: left;
		border: 1px solid #fff;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.jcarousel img {
		display: block;
		max-width: 100%;
		height: auto !important;
	}

	/** Carousel Controls **/

	.jcarousel-control-prev,
	.jcarousel-control-next {
		position: absolute;
		top: 50%;
		margin-top: -15px;
		width: 11px;
		height: 18px;
		text-decoration: none;
		background: url('/images/slider-button-sprite.png');
	}

	.jcarousel-control-prev {
		left: 1px;
	}

	.jcarousel-control-prev:hover {
		background-position: 0 100%;
	}



	.jcarousel-control-next:hover {
		background-position: 100% 100%;
	}
	.jcarousel-control-next {
		right: 1px;
		background-position: 100% 0;
	}

	/** Carousel Pagination **/

	.jcarousel-pagination {
		position: absolute;
		bottom: -40px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		margin: 0;
	}

	.jcarousel-pagination a {
		text-decoration: none;
		display: inline-block;

		font-size: 11px;
		height: 10px;
		width: 10px;
		line-height: 10px;

		background: #fff;
		color: #4E443C;
		border-radius: 10px;
		text-indent: -9999px;

		margin-right: 7px;


		-webkit-box-shadow: 0 0 2px #4E443C;
		-moz-box-shadow: 0 0 2px #4E443C;
		box-shadow: 0 0 2px #4E443C;
	}

	.jcarousel-pagination a.active {
		background: #4E443C;
		color: #fff;
		opacity: 1;

		-webkit-box-shadow: 0 0 2px #F0EFE7;
		-moz-box-shadow: 0 0 2px #F0EFE7;
		box-shadow: 0 0 2px #F0EFE7;
	}


	.roll-more {
		background: url(/images/icons/plus.png) no-repeat right -1px;
	}
	.roll-more:hover {
	    background: url(/images/icons/plus.png) no-repeat right -1px;
	}
	.roll-more.opened {
	    background: url(/images/icons/minus.png) no-repeat right -1px;
	}
	.roll-more.opened:hover {
	    background: url(/images/icons/minus.png) no-repeat right -1px;
	}
	.btn-green.information {
	    background: url(/images/icons/plus_white.png) no-repeat right 6px rgb(141,198,63);
	}

	.auth-services br { display:none; }
	.auth-service {
		margin: 0 !important;
		display: table-cell !important;
	}
	.auth_btn {
		width: 92px !important;
		margin: 2px;
	    min-height: 25px !important;
	    border-radius: 2px !important;
	    font-size: 10px !important;
	}
	.auth-service:last-child .auth_btn {
		margin-right: 0;
	}
	.auth-service:first-child .auth_btn {
		margin-left: 0;
	}
	.auth_icon {
		background-size: 100% !important;
    	width: 9px !important;
    	margin: 0 0 0 5px;
    	float: left;
	}
	.auth_label {
		height: 100%;
    	vertical-align: sub;
	}

	.left-block,
	.right-block {
		display: block;
		padding:0;
	}
	.profile .search-result-signup,
	.profile .search-result-info {
		display: block;
	}
	.recovery-box {
		margin: 10px 10px 10px 10px;
	}
	#recovery-button {
		font-size: 18px;
    	font-weight: normal;
		width: 100%;
    	height: 40px;
	}
	#User_email,
	#User_telefon {
		width: 100%;
		height: 30px;
	}
	.recovery-box h2 {
		font-size: 24px;
    	font-weight: normal;
	}
	.recovery-box p {
		font-size: 12px;
    	line-height: 1.2em;
	}


	.doctor .information {
	    line-height: 18px;
	    padding: 10px 5px 0px 5px;
	    margin: 0 0 5px 0;
	    border: 1px solid #b4b4b4;
	    border-radius: 3px;
	    overflow: hidden;
		padding-left: 10px;
		padding-bottom: 10px;
	}
	.doctor_description {
		padding: 0;
		display: inline-block;
	}
	.SEARCH_BOX_HEAD .search-row {
		display: none !important;
	}
	.price_slider_container_mobile {
		height: 38px;
	    width: 235px;
	    background: white;
	    border: 0px solid #dcdcdc;
	    border-radius: 3px;
	    display: table !important;
	}
	.SearchController .search-row {
		display: block !important;
	}
	.min-price-xs{
		margin-top: 256px;
		position: absolute;
		width: 95%;
		border: 1px solid #a9a9a9;
		text-align: center;
		color: #a9a9a9;
		font-size: 16px;
		font-weight: bold;
		padding: 8px 0;
		border-radius: 5px;
		display: block;
	}

	.share_buttons{
		float: left;
		text-align: left;
		margin: 10px 0;
	}
	.share_buttons .text{
		float: left;
		margin-right: 15px;
	}
	.service_card {
		border: 2px solid #dcdcdc;
	}
	.service_card_content {
		padding: 0;
		display: block;
	}
	.service_card_column_address,
	.service_card_column_name {
		display: inline-block;
    	width: 100%;
	}
	.service_card_column_name p {
		text-align: center;
		font-weight: bold;
	}
	.service_card_row_metro {
		float: right;
    	min-width: 132px;
	}
	.service_card_column_sign {
		width: 20%;
		height: 55px;
    	padding: 0px 0px 0px 0px;
	}
	.service_card_column_sign .sign_btn {
		width: 108px;
	    min-height: 26px !important;
	    padding-left: initial;
	    padding-right: initial;
	    font-size: 13px !important;
	    font-weight: lighter;
	    float: right;
	}
	.service_card_column_price {
		width: 100%;
	}
	.service_card_column_name {
		padding: 10px 0px 0px 0px
	}
	.service_card_column_name .loyaltyLink {
		display: none;
	}
	.stockSale .onlyEMP {
		font-size: 10px;
		margin: 0 0 0 140px;
	}
	.stockSale .instead {
		font-size: 10px;
		margin: -15px 0 0 140px;
	}
	.new-time a {
		display: none;
	}
	.new-time select {
		display: block !important;
		padding: 0 0 0 60%;
	}
	
	.reviewForm {
		width: 95%;
    	margin: auto;
	}
	.reviewContent_header {
		display: none;
	}
	
	#appointment_main #AppointmentToDoctors_name,
	#appointment_main #phoneInput {
		text-align: left!important;
	}
	.title-mobile-blog span{
		color: #5a5a5a;
		padding: 10px;
		display: block;
		text-align: center;
	}
	.title-mobile-blog{
		background: url(/images/icons/nav-drop.png) no-repeat left #ecf5f9;
		position: relative;
	}

	div.col-ms .grad-block{
		background: none;
	}
	div.col-ms .grad-block-sm{
		background: #04B0CF;
		opacity: 0.7;
		width: 100%;
		height: 93%;
		position: absolute;
		bottom: 0px;
	}
	div.col-ms .title-main-post{
		position: absolute;
		text-align: center;
		color: white;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		display: block;
		width: 90%;
		margin-top: auto;
		line-height: 40px;
		position: absolute;
		font-family: "ReformaGroteskBoldC";
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);

		top: 50%;
		width: 100%;
		font-family: 'ReformaGroteskDemiC';
	}
	.col-ms div.news_block .title-current-annonce span{
		margin-top: 85px;

		moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	.section-all-posts-ms div.news_block .title-current-annonce span{
		margin-top: 77px;
	}
	.col-ms div.news_block .title-current-annonce .background-opc{
		background: #04B0CF;
		opacity: 0.7;
		width: 100%;
		position: absolute;
		height: 45%;
		bottom: 0px;
		top: auto;
	}
	.subscribe-blog.col-ms{
		box-shadow: none;
	}
	.subscribe-blog.col-ms .text-data-subscribe{
		display: none;
	}
	.subscribe-blog.col-ms .share-buttons-blog{
		display: none;
	}
	.subscribe-blog.col-ms .form-sub{
		width: auto;
	}
	.subscribe-blog.col-ms .form-sub input{
		width: 90%;
		float: none;
		margin: 0 auto;
		display: block;
	}
	.subscribe-blog.col-ms .form-sub input[name=email]{
		margin-top: 10px;
	}
	.subscribe-blog.col-ms .form-sub .green-button{
		width: 93%;
		float: none;
		margin: 0 auto;
		display: block;
		margin-top: 10px;
	}
	.col-ms .news_block_content{
		padding: 0 20px;
	}
	.col-ms .news_block_content .blog-annonce{
		margin-top: 15px !important;
	}
	.main-img.col-ms{
		margin: 0 20px;
		margin-top: 15px;
	}
	.section-all-posts-ms{
		padding: 0 20px;
	}
	.section-all-posts-ms .blog-annonce{
		margin-top: 10px !important;
	}

	.back-ico{
		background: url('/images/back.png');
		/* width: 11px; */
		background-repeat: no-repeat;
		/* height: 18px; */
		border: 0px;
		top: 10px;
		position: absolute;
		left: 20px;
		cursor: pointer;
	}
	.col-ms .title-subscribe{
		font-family: 'ReformaGroteskDemiC';
	}
	.subscribe-blog{
		height: 250px;
		padding: 0;
		margin-top: 25px;
	}

	div.news_block  .background-opc{
		height: 46%;
		top: auto;
		bottom: 0px;
		display: block !important;
		background: #04B0CF !important;
	}
	.link-blog:hover .img-bg{
		transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-moz-transform: scale(1);
	}
	.main-img{
		margin: 100px 20px 50px;
		margin-top: 130px;
	}
	.main-img .title-main-post{
		position: absolute;
		text-align: center;
		width: 100%;
		top: -100px;
		color: #04b0cf;
	}
	.main-img .grad-block{
		background: none;
		/*bottom: auto;*/
	}
	.ico-open-tag-menu{
		display: none;
	}
	.main-image-data{
		display: none;
	}
	.hidden-ms{
		display: none !important;
	}

	.news-detail img{
		width: 80%;
		margin: 10px auto;
		display: block;
	}
	.view-ms{
		display: none;
	}
	.view-hidden-ms{
		display: none;
	}
	.detail-blog.col-ms{
		margin: 0 10px;
	}
	.hidden-md{
		display: block;
	}
	.title-col-ms{
		/*margin: 0px 10px;*/
		margin-top: 36px;
		margin-bottom: 15px;
	}
	.title-col-ms h2{
		font-family: "ReformaGroteskBoldC";
		text-align: center;
	}
	.title-col-ms img{
		width: 100%;
		margin: 10px auto;
		display: block;
	}
	div.news_block .big-text-ms .title-current-annonce span{
		margin-top: 0px;
	}
	div.news_block .big-text-ms .background-opc{
		height: 100%;
	}
	.news-info-p h2{
		text-align: center;
	}
	.personal-information .row-1{
		float: none;
		width: 100%;
	}
	.personal-information .row-1 #User_name {
		width: 100%;
	}
	.col-1 .row-2{
		float: none;
		width: 100%;
		margin-left: 0px;
		margin-top: 10px;
	}
	.personal-information .row-2 #User_birthday {
		width: 100%;
	}
	.sex-title-ms{
		width: 40px;
		float: left;
		margin-top: 4px;
	}
	.personal-information{
		width: 100%;
		float: none;
	}
	.abs-block-email {
		#position: absolute;
		#top: -100px;
		#left: 0px;
		#width: 100%;
	}
	.abs-block-telefon {
		margin-top: 5px;
	}
	.mx-show{
		display: block;
	}
	.abs-block-email .custom-text{
		width: 69%;
	}
	.service-table td{
		/*display: none;*/
	}
	.service-table td.mobile{
		display: block;
	}
	.abs-block-email label{
		margin: 0px;
		width: 30%;
		text-align: right;
	}
	.abs-block-email label a{
		width: 95px;
		padding-left: 5px;
		padding-right: 5px;
	}
	ul.yiiPager{
		display: block;
		margin-top: 10px;
	}
	.grid-view .pager{
		padding-right: 10px;
	}
	.col-cabinet-info{
		width: 75%;
		position: absolute;
		top: 12px;
		right: 0px;
	}
	.col-cabinet-info .row-user-name{
		float: left;
		width: 50%;
		font-size: 12px;
		color: #474747;
	}
	.col-cabinet-info .row-button{
		width: 50%;
		float: left;
	}
	.col-cabinet-info .row-button .link-reset{
		font-size: 13px;
		text-decoration: none;
		color: white;
		background: #04b0cf;
		padding: 3px 19px;
		border-radius: 13px;
	}
	.col-cabinet-info .row-user-name{
		margin-top: 4px;
	}


	.col-cabinet-info .link-reset menu-item{
		font-size: 13px;
		text-decoration: none;
		color: white;
		background: #04b0cf;
		padding: 3px 19px;
		border-radius: 13px;
	}
	.col-date-nameclinik{
		width: 100%;
	}


	.col-date-nameclinik .date-m{
		width: 50%;
		float: left;
	}
	.col-date-nameclinik .date-m+a{
		display: block;
		width: 50%;
		float: left;
	}
	.cont-passw .custom-text{
		width: 100%;
	}
	.cont-passw{
		width: 100%;
	}
	.profile{
		margin: 0 auto;
		width: 95%;
		float: none;
	}
	.personal-contacts {
		margin: 0 auto;
		width: 95%;
		float: none;
	}
	.row-prof-title{
		font-family: 'Roboto';
		text-transform: none;
		font-size: 18px;
	}
	.row-title{
		font-size: 13px;
		color: #5d5d5d;
		margin-bottom: 5px;
	}
	.big-button{
		width: 100%;
	}
	.service-table thead{
		display: none;
	}
	.nav-content--sm .nav-menu ul.menu-group li{
		padding: 0px;
		background: none;
	}
	.nav-content--sm .nav-menu ul.menu-group li>a{
		padding: 0 20px 0 15px;
		background: url(/images/icons/arrow-right.png) no-repeat right transparent;
	}
	.nav-content--sm .nav-menu ul.menu-group li>ul{
		margin-top: 0px;
	}
	.nav-content--sm .nav-menu ul.menu-group li>ul li{
		border: 0px;
	}
	.nav-content--sm .nav-menu ul.menu-group li>ul li a{
		font-size: 13px;
	}

	.ClinicController .map_block{
		display: none;
	}
	.ClinicController .static-map{
		display: block;
	}

}

@media (max-width: 480px) {
	.btn-read-more {
	    width: 100%;
	    height: 10px;
	    min-height: 17px !important;
	    border-radius: 2px;
	    padding: 0px 0px 0 0 !important;
	    margin: 0 !important;
	    font-size: 12px;
	}
	.doctor_card_name {
		font-size: 16px;
    	font-weight: normal;
	}
	.doctor_rate_block {
	    padding-top: 4px;
	    padding-bottom: 0px;
	}
	.doctor_card_column_description,
	.doctor_rank-address_block {
		padding-left: 10px;
	}
	.search-box .search-row {
		margin: 0 !important;
		background: #b4b4b4;
    	padding: 8px 7px 2px 7px;
	}
	.search-found {
	    font-size: 11px;
		line-height: 11px;
		text-transform: uppercase;
		margin-top: 3px;
	}
	.search-result-head .show_on_map {
		/*display: none;*/
	}
	#search_map{
		height: 150px;
	}
	#search_map .ymaps-map{
		height: 150px !important;
	}
	.card_row .item_name,
	.card_row .item_value {
		color: #636363;
	}
	.card_row .item_name,
	.card_row .item_value,
	.card_row a {
		font-size: 10px;
		font-weight: normal;
		letter-spacing: 0px;
	}
	.price-box {
		width: 95%;
		border: 1px solid #dcdcdc;
	}

	#Search_doctorSpecialtyId,
	#Search_companyServiceId,
	#Search_companyActiviteId,
	#Search_metroStationId,{
    	height: 40px !important;
    	margin: -40px 0 5px 0 !important;
	}

	#s2id_Search_doctorSpecialtyId,
	#s2id_Search_companyServiceId,
	#s2id_Search_companyActiviteId,
	#s2id_Search_metroStationId {
	    height: 40px !important;
	}

	#s2id_Search_doctorSpecialtyId .select2-choice,
	#s2id_Search_companyServiceId .select2-choice,
	#s2id_Search_companyActiviteId .select2-choice,
	#s2id_Search_metroStationId .select2-choices {
		height: 38px !important;
		width: 97%;
		border-radius: 4px !important;
		border: 0px solid transparent !important;
	}
	#s2id_Search_metroStationId .select2-input,
	#s2id_Search_metroStationId2 .select2-input {
		height: 38px !important;
		width: 97%;
		border-radius: 4px !important;
		border: 0px solid transparent !important;
	}
	.search-btn {
		margin: 0px 0px 0px 0px !important;
		height: 40px !important;
    	left: 0;
	    display: inline-block !important;
        position: relative !important;
        width: 100% !important;
        text-align: center;
		border-radius: 4px 4px 4px 4px !important;
	}
	#s2id_Search_doctorSpecialtyId .select2-chosen,
	#s2id_Search_companyServiceId .select2-chosen,
	#s2id_Search_companyActiviteId .select2-chosen {
		padding: 6px 16px 16px 18px !important;
	}

	.service_card .card_row a {
		 font-size: 12px !important;
	}
	.service_card_row_metro {
	    float: right;
	    width: 112px;
	    min-width: 112px;
	    font-size: 12px;
	}
	.stockSale .onlyEMP {
	    font-size: 10px;
	    font-weight: normal;
	    letter-spacing: initial;
	    margin: -3px 0 0 85px;
	}
	.stockSale .instead {
	    font-size: 10px;
	    font-weight: normal;
	    letter-spacing: initial;
	    margin: -12px 0 0 85px;
	}
	.service_card_column_price .price_block {
		background-size: 80px;
    	width: 100px;
    	padding: 1px 15px 1px 10px;
    	text-align: left;
	}
	.service_card_column_price .price_value,
	.service_card_column_price .price_valuta {
		font-size: 15px;
	}
	.stockSale .price_block {
		background-size: 80px !important;
    	width: 55px !important;
    	padding: 1px 15px 1px 10px !important;
    	text-align: right !important;
	}
	.stockSale .price_value,
	.stockSale .price_valuta {
		font-size: 11px !important;
	}
	#datetimepicker {
		display: block !important;
		padding: 5px 5px 0px 0px;
		text-align: right;
		margin: 0;
	}

	#appointment_main .custom-text {
		height: 30px;
	}
	#appointment_main .custom-text-placeholder {
		position: absolute;
	    margin: -24px 0px 0px 6px;
	    color: #aaa;
	    text-align: left;
	}
	.icon_loading {
		height: 30px;
	}
	.appointment .btn-green, .appointment .btn-blue, .appointment .btn-red {
		margin-top: 0px;
    	height: 40px;
	}
}
