/* for reviews only */
.custom-text {
	width: 100% !important;
}

input.custom-text, textarea.custom-text {
	font-size: 15px;
	color: #666;
}

.reviewContent label {
	text-transform: uppercase !important;
	font-size: 10px !important;
	color: #999999;
	
}

.reviewContent table {
	width: 100%;
	padding: 2px;
}

.reviewContent table td {
	padding: 30px 0;
}