/* =============================================================================
   Custom styles Vlad Muraviov http://www.unet-maker.com
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav,
section, summary, blockquote {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
	height: 0;
}

:focus, :active {
	-moz-outline: none;
	outline: none;
	ie-dummy: expression(this.hideFocus=true);
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input {
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
	line-height: 100% !important;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
    +display:inline-block;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: hidden;
	vertical-align: top;
	resize: vertical;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width:100%;
}
svg:not(:root) {
	overflow: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
	font-weight:normal;
	color:#555;
}
h1 {
	font-size: 30px;
	line-height: 36px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
}
h3 {
	font-size: 22px;
	line-height: 27px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 13px;
}

a {
	color: #00B0CF;
	text-decoration:underline;
}
/*a:visited {
 color: #551a8b;
}*/
a:hover {
	color:#FB4000;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

p, pre {
	margin: 0 0 15px;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: '';
	content: none;
}
small {
	font-size: 80%;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	font-size:0;
	line-height:0;
	border-top: 1px solid #ccc;
	padding: 0;
	margin: 15px 0;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

ul, ol {
	margin: 15px 0;
	padding: 0 0 0 40px;
}
dl {
	margin-bottom: 10px;
}
dt, dd {
	line-height: 18px;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 10px;
}

/* ==========================================================================
   Snippets
   ========================================================================== */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.f-left {
	float:left;
}
.f-right {
	float:right;
}
.overflnone {
	overflow:inherit !important;
}

.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.align-center {
	text-align:center;
}

.inline {
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
}
.transition {
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
.text-shadow {
	text-shadow: 1px 1px 0 #666;
}
.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.error {
	color:red;
}
.v-middle {
	vertical-align:middle !important;
}

/* ==========================================================================
   Custom elements
   ========================================================================== */
.custom-text {
	height:18px;
	line-height:18px;
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	position: relative;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #bbb;
	background:#fff;
	width:190px;
	padding:4px 5px;
	color:#555555;
	font-family: Tahoma, Geneva, sans-serif;
}
.custom-text:focus {
	border-color:#808080;
}

.custom-textarea {
	height:80px;
	line-height:18px;
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	position: relative;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #bbb;
	background:#fff;
	width:338px;
	padding:4px 5px;
	color:#555555;
	font-family: Tahoma, Geneva, sans-serif;
}
.custom-textarea:focus {
	border-color:#808080;
}

.btn {
	background: #FAFAFA;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FAFAFA), to(#E9E9E9));
	background: -webkit-linear-gradient(#FAFAFA, #E9E9E9);
	background: -moz-linear-gradient(#FAFAFA, #E9E9E9);
	background: -ms-linear-gradient(#FAFAFA, #E9E9E9);
	background: -o-linear-gradient(#FAFAFA, #E9E9E9);
	background: linear-gradient(#FAFAFA, #E9E9E9);
	-pie-background: linear-gradient(#FAFAFA, #E9E9E9);
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	border:1px solid #E3E3E3;
	height:28px;
	line-height:28px;
	padding:0 10px;-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#555;
	text-shadow: 1px 1px 0 #fff;
	text-decoration:none;
}
.btn:hover {
	background: #E9E9E9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E9E9E9), to(#FAFAFA));
	background: -webkit-linear-gradient(#E9E9E9, #FAFAFA);
	background: -moz-linear-gradient(#E9E9E9, #FAFAFA);
	background: -ms-linear-gradient(#E9E9E9, #FAFAFA);
	background: -o-linear-gradient(#E9E9E9, #FAFAFA);
	background: linear-gradient(#E9E9E9, #FAFAFA);
	-pie-background: linear-gradient(#E9E9E9, #FAFAFA);
	color:#555;
}
.btn:active, .btn.active {
	-webkit-box-shadow:inset #BBBBBB 0px 1px 1px;
	-moz-box-shadow:inset #BBBBBB 0px 1px 1px;
	box-shadow:inset #BBBBBB 0px 1px 1px;
	border-color:#BBBBBB}

.btn.big {
	text-transform:uppercase;
	width:84%;
	text-align:center;
	padding: 0 75px;
}

.btn-blue {
	background: #45B1C6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#45B1C6), to(#057393));
	background: -webkit-linear-gradient(#45B1C6, #057393);
	background: -moz-linear-gradient(#45B1C6, #057393);
	background: -ms-linear-gradient(#45B1C6, #057393);
	background: -o-linear-gradient(#45B1C6, #057393);
	background: linear-gradient(#45B1C6, #057393);
	-pie-background: linear-gradient(#45B1C6, #057393);
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	border:1px solid #259FC2;
	height:28px;
	line-height:28px;
	padding:0 10px;-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#fff;
	text-shadow: 1px 1px 0 #065A72;
	text-decoration:none;
}
.btn-blue:hover {
	background: #057393;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#057393), to(#45B1C6));
	background: -webkit-linear-gradient(#057393, #45B1C6);
	background: -moz-linear-gradient(#057393, #45B1C6);
	background: -ms-linear-gradient(#057393, #45B1C6);
	background: -o-linear-gradient(#057393, #45B1C6);
	background: linear-gradient(#057393, #45B1C6);
	-pie-background: linear-gradient(#057393, #45B1C6);
	color:#fff;
}
.btn-blue:active {
	-webkit-box-shadow:inset #055870 0px 1px 3px;
	-moz-box-shadow:inset #055870 0px 1px 3px;
	box-shadow:inset #055870 0px 1px 3px;
	border-color:#055870}

.btn-green {
	border:none;
	background: #84BC1C;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#84BC1C), to(#609604));
	background: -webkit-linear-gradient(#84BC1C, #609604);
	background: -moz-linear-gradient(#84BC1C, #609604);
	background: -ms-linear-gradient(#84BC1C, #609604);
	background: -o-linear-gradient(#84BC1C, #609604);
	background: linear-gradient(#84BC1C, #609604);
	-pie-background: linear-gradient(#84BC1C, #609604);
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	height:28px;
	line-height:28px;
	padding:0 15px;-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#fff;
	text-shadow: 2px 1px 0 #406A14;
	text-decoration:none;
	text-transform:uppercase;
	white-space:nowrap;

}
.btn-green.add {
	position:relative;
	padding-left: 45px;
}
.btn-green.add span.big {
	display: block;
    font-size: 26px;
    padding-right: 4px;
    position: absolute;
    left:5px;
    box-shadow: -3px 0 4px #528200 inset;
    border-right: 1px solid #E3E3E3;

}
.btn-green.recomended {
	position:relative;
	padding:0 30px 0 8px;
}
.btn-green.recomended i {
	width:22px;
	height:22px;
	background:url(../images/spry.png) -25px -239px no-repeat;
	display:block;
	position:absolute;
	top:2px;
	right:4px;
}
.btn-green:hover {
	background: #609604;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#609604), to(#84BC1C));
	background: -webkit-linear-gradient(#609604, #84BC1C);
	background: -moz-linear-gradient(#609604, #84BC1C);
	background: -ms-linear-gradient(#609604, #84BC1C);
	background: -o-linear-gradient(#609604, #84BC1C);
	background: linear-gradient(#609604, #84BC1C);
	-pie-background: linear-gradient(#609604, #84BC1C);
	color:#fff;
}
.btn-green:active {
	-webkit-box-shadow:inset #406A14 0px 2px 4px;
	-moz-box-shadow:inset #406A14 0px 2px 4px;
	box-shadow:inset #406A14 0px 2px 4px;
}

.btn-green-min {
	border:none;
	background: #84BC1C;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#84BC1C), to(#609604));
	background: -webkit-linear-gradient(#84BC1C, #609604);
	background: -moz-linear-gradient(#84BC1C, #609604);
	background: -ms-linear-gradient(#84BC1C, #609604);
	background: -o-linear-gradient(#84BC1C, #609604);
	background: linear-gradient(#84BC1C, #609604);
	-pie-background: linear-gradient(#84BC1C, #609604);
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	height:22px;
	line-height:22px;
	padding:0 12px;-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#fff;
	text-shadow: 2px 1px 0 #406A14;
	text-decoration:none;
	text-transform:uppercase;
	white-space:nowrap;
}
.btn-green-min:hover {
	background: #609604;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#609604), to(#84BC1C));
	background: -webkit-linear-gradient(#609604, #84BC1C);
	background: -moz-linear-gradient(#609604, #84BC1C);
	background: -ms-linear-gradient(#609604, #84BC1C);
	background: -o-linear-gradient(#609604, #84BC1C);
	background: linear-gradient(#609604, #84BC1C);
	-pie-background: linear-gradient(#609604, #84BC1C);
	color:#fff;
}
.btn-green-min:active {
	-webkit-box-shadow:inset #406A14 0px 2px 4px;
	-moz-box-shadow:inset #406A14 0px 2px 4px;
	box-shadow:inset #406A14 0px 2px 4px;
}

.btn a {
	color: inherit;
	display: block;
	height: 100%;
	text-decoration: inherit;
	width: 100%;
}

.checked {
	color:#5e970c;
	text-transform:uppercase;
	font-size:11px;
	position:relative;
	padding: 5px 16px 5px 3px;
	display:inline-block;
}
.checked i {
	width:14px;
	height:15px;
	background:url(../images/spry.png) -52px -239px no-repeat;
	display:block;
	position:absolute;
	top:6px;
	right:0px;
}

.addToFav, .btnFav {
	position:relative;
	padding:0 40px 0 15px;
}
.addToFav i, .btnFav i {
	width:24px;
	height:24px;
	background:url(../images/spry.png) -26px -265px;
	display:block;
	position:absolute;
	text-decoration:none;
	top:1px;
	right:10px;
}
.btnFav i, .addToFav:hover i {
	background-position:0 -265px;
}


/* Custom-select
-----------------------------------------------------------------------------*/
.custom-select {
	z-index: 1;
	height:18px;
	line-height:18px;
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	position: relative;
	font-size: 14px;
	z-index:99;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #bbb;
	background:#fff;
	width:348px !important;
	padding:4px 0;
	color:#555555;
	font-family: Tahoma, Geneva, sans-serif;
	text-align:left;
}
.custom-select .cuselFrameRight {
	position: absolute;
	z-index: 2;
	top: 1px;
	right: 1px;
	height: 24px;
	width: 24px;
	background:url(../images/spry.png) no-repeat 0 -38px;
}
.custom-select .cuselText {
	height: 18px;
	line-height:18px;
	padding: 0 30px 0 5px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font: 14px Tahoma, Geneva, sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.custom-select span {
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px;
	zoom: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:1px 0;
}
.custom-select span:hover, .cusel .cuselOptHover {
	background: #097796;
	color: #fff;
}
.custom-select .cuselActive {
	background: #bbb !important;
	color: #fff;
	cursor: default;
}
/*
	styles for focus and hover
*/
.custom-select:hover, .custom-select:hover .cuselFrameRight, .custom-select:focus, .custom-select:focus .cuselFrameRight, .custom-select.cuselFocus, .custom-select.cuselFocus .cuselFrameRight {
}
.custom-select.cuselOpen {
	z-index: 999;
}
/*
	styles for disabled select
*/
.classDisCusel, .classDisCusel .cuselFrameRight {
	background-image: url(../images/selects-2-dis.png) !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}
/*
	styles for scrollbar
*/
.custom-select .cusel-scroll-wrap {
	display: block;
	visibility: hidden;
	position: absolute;
	left: -1px;
	top: 100%;
	min-width: 100%;
	width: auto;
	margin:2px 0 0;
}
.custom-select .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #bbb;
	overflow:hidden;
	padding: 0px 1px;
}

.custom-select .jScrollPaneTrack, .cuselMultiple .jScrollPaneTrack {
	height: 100%;
	width: 6px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.custom-select .jScrollPaneDrag, .cuselMultiple .jScrollPaneDrag {
	position: absolute;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#3B3D41;
	cursor: pointer;
	width: 8px !important;
	height: 20px !important;
	right: -1px;
}
.custom-select .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.custom-select .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.custom-select .jScrollArrowUp {
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.custom-select .jScrollArrowDown {
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}

/* Multi-select */

.cuselMultiple {
	width: 348px;
	display: inline-block;
	line-height: 18px;
	position: relative;
	border: 1px solid #BBBBBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 14px Tahoma,Geneva,sans-serif;
	margin:0 0 5px;
}
.cuselMultipleContent {
	overflow: hidden;
	padding: 4px 1px;
}
.cuselMultipleTop {
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}
.cuselMultipleBottom {
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-position: 0 -5px;
	z-index: 2;
	overflow: hidden;
}
.cuselMultiple span {
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px;
	zoom: 1;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:1px 0;
	zoom: 1;
}
.cuselMultiple span:hover, .cuselMultiple .cuselMultipleOptHover {
	background: #097796;
	color: #fff;
}
.cuselMultiple .cuselMultipleActive {
	background: #CC0000;
	color: #fff;
}
.cuselMultiple .cuselMultipleCur {
	background: none repeat scroll 0 0 #BBBBBB !important;
	color: #FFFFFF;
	cursor: default;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.cuselMultiple-scroll-wrap {
	display: block;
	overflow: hidden;
}
.cuselMultiple .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	min-height:93px;
}
.cuselMultiple .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cuselMultiple .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cuselMultiple .jScrollArrowUp {
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -12px;
	overflow: hidden;
}
.cuselMultiple .jScrollArrowDown {
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -12px;
	overflow: hidden;
}

.cuselMultiple.classDisCusel, .cuselMultiple.classDisCusel span {
	cursor: default;
	color: #ccc !important;
}
.cuselMultiple.classDisCusel span:hover {
	background: #fff;
}
.cuselMultiple.classDisCusel .cuselMultipleActive {
	background: #666 !important;
}

*:first-child+html .cuselMultiple {
	float: left;
	zoom: 1;
	height: auto;
}
*:first-child+html .lineForm {
	clear: both;
}
*:first-child+html .cuselMultipleContent {
	float: left;
	width: 100%;
}

/* Select-city
-----------------------------------------------------------------------------*/

.select-city {
	height: 18px;
	line-height:18px;
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align:top;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 1;
	width:auto !important;
	float:right;
    margin-top:-7px;
}
.select-city .cuselFrameRight {
	position: absolute;
	z-index: 2;
	top: 8px;
	right: 0;
	height: 6px;
	width: 7px;
	background:url(../images/spry.png) no-repeat -18px 0;
}
.select-city .cuselText {
	height: 18px;
	padding: 0;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font: 13px Tahoma, Geneva, sans-serif;
	color:#00B0CF;
	margin:0 10px 0 0;
}

.select-city span {
	display: block;
	cursor: pointer;
	zoom: 1;
	color:#555;
	height:18px;
	line-height:18px;
	font-size:12px;
	margin:2px 0;
	white-space:nowrap;
	overflow:hidden;text-overflow: ellipsis;
	padding:1px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	zoom: 1;
}
.select-city span:hover, .cusel .cuselOptHover {
	background:#097796;
	color:#fff;
}
.select-city .cuselActive {
	background: #bbb !important;
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/
.select-city:hover .cuselText {
	color:#FB4000;
}
.select-city:hover .cuselFrameRight {
	background-position:-30px 0;
}

.select-city:hover, .select-city:hover .cuselFrameRight, .select-city:focus, .select-city:focus .cuselFrameRight, .select-city.cuselFocus, .select-city.cuselFocus .cuselFrameRight {
}
.select-city.cuselOpen {
	z-index: 999;
}
/*
	styles for disabled select
*/
.classDisCusel, .classDisCusel .cuselFrameRight {
	background-image: url(../images/selects-2-dis.png) !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}
/*
	styles for scrollbar
*/
.select-city .cusel-scroll-wrap {
	display: block;
	visibility: hidden;
	position: absolute;
	right: -20px;
	top: 25px;
	min-width: 100%;
	width: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F7F7F7;
	border: 1px solid #EAEAEA;
	padding:3px;
	-webkit-box-shadow: #999 0px 0px 10px;
	-moz-box-shadow: #999 0px 0px 10px;
	box-shadow: #999 0px 0px 10px;
}
.select-city .cusel-scroll-wrap:after {
	content: '';
	position: absolute;
	right: 15px;
	top: -7px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #F7F7F7;
	z-index:999;
}
.select-city .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
}

.select-city .jScrollPaneTrack {
	height: 100%;
	width: 6px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.select-city .jScrollPaneDrag {
	position: absolute;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#3B3D41;
	cursor: pointer;
	width: 8px !important;
	height: 20px !important;
	right: -1px;
}
.select-city .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.select-city .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

/* Checkbox
-----------------------------------------------------------------------------*/
.niceCheck {
	width:13px;
	height:13px;
	background: url(../images/spry.png) 0 0;
	margin:0 2px 0 0;
	overflow:hidden;
	display:-moz-inline-box;display: inline-block;*zoom: 1;*display: inline;word-spacing: normal;vertical-align: top;cursor: pointer;
	position:relative;
	top:2px;
}
.niceCheck.niceChecked {
	background-position: 0 -18px;
}
.niceCheck input {
	position:relative;
	left:-20px;
}
/* Radio
-----------------------------------------------------------------------------*/
.niceRadio {
	width: 11px;height: 11px;
	display:-moz-inline-box;display: inline-block;*zoom: 1;*display: inline;word-spacing: normal;vertical-align: top;cursor: pointer;
	background: url(../images/spry.png) no-repeat 0 0;overflow:hidden;
	position:relative;
	top:3px;
	margin:0 8px 0 2px;
}
.radioChecked {
	background-position: -210px -70px;
}
.niceRadio input {
	margin-left: -17px;
}


/* ==========================================================================
   Main styles
   ========================================================================== */
html, body {
	height:100%;
	font: 13px/16px Tahoma, Geneva, sans-serif;
	color:#555;
}
body {
	background: #fff url(../images/bg.png) 0 0;
}

body.mistake {
	background:url(../images/bg1.jpg) 0 0;
	min-width:980px;
}

.wrapper {
	width: 950px;
	margin:0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
}

.m-top {
	background:url(../images/mistake-top.png) no-repeat center -5px;
	height:283px;
}
.m-logo {
	padding-top:45px;
	float:left;
}
.m-patch {
	width:161px;
	height:161px;
	background:url(../images/patch.png) no-repeat 0 0;
	margin: 16px 0 0;
	float:right;
}
.m-content {
	padding:145px 275px 50px;
	color:#9e9e9e;
	clear:both;
	+padding-top:70px;
}
.m-content h1 {
	color:#312f2f;
	font-size:200px;
	font-family:Arial Black, Arial;
	font-weight: 900;
	line-height:0.9;
}
.m-content .m-title {
	font-size:24px;
	color:#312f2f;
	line-height: 1.2;
	padding:0 0 25px;
}
.m-content p {
	margin:0 0 10px;
}

.banner {
	background:url(../images/bg-banner.png) no-repeat 0 0;
	width:950px;
	height:90px;
	margin:0 0 25px;
}

.section-top {
	background:url(../images/section-top.png) no-repeat 0 0;
	padding: 116px 0 0;
	position:relative;
	margin:0 0 20px;
	z-index:10;
}
.section-top .right-corner-top {
	background:url(../images/section-top.png) no-repeat right bottom;
	height:42px;
	width:41px;
	position:absolute;
	right: 0;
	top: 74px;
}
.section-bottom {
	background:url(../images/section-bottom.png) no-repeat 0 bottom;
	padding: 0 0 30px;
}
.section-bottom.min {
	padding: 0 0 10px;
}
.section-bottom .right-corner-bot {
	background:url(../images/section-bottom.png) no-repeat right bottom;
	height:36px;
	width:41px;
	position:absolute;
	right:0px;
	bottom:0px;
}
.section {
	background:#FFF;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	padding: 7px 1px 0;
}

.logo {
	width:310px;
	position:absolute;
	top:25px;
	left:35px;
	display: inline-block;
	z-index:100;
}
.logo-image {
	margin:0;
}
.logo-image img {
	display:block;
}

.auth {
	position:absolute;
	top:0;
	left:430px;
	width:520px;
	overflow:hidden;
}
.auth input.btn {
	width:90px;
	float:right;
}
.auth-supplier {
	float:right;
	margin:0 0 10px;
}
.auth-row {
	overflow:hidden;
	clear: both;
}
.auth-field {
	float:left;
	width:202px;
	margin:0 10px 0 0;
}
.auth-field .custom-text {
	margin:0 0 10px;
}
.auth label {
	color:#555;
}
.auth p {
	margin:0 0 10px;
}

.auth label.field {
	padding: 6px;
	position: absolute;
	z-index: 20;
}

.crumbs {
	color:#00B0CF;
	font-size:14px;
	padding:5px 0 25px 0;
}
.crumbs span {
	font-size:20px;
	color:#555;
}
#yslygi-select .crumbs span {
	font-size:14px;
}
#yslygi-select .crumbs span.active {
	font-size:20px;
}

.search {
	background:url(../images/bg-search.png) repeat-x 0 25px;
	position:relative;
	z-index:1;
	top:10px;
}

.search-box label {
	font-size:14px;
	line-height:28px;
	color:#555;
	margin:0 0 5px;
	display:-moz-inline-box;display: inline-block;*zoom: 1;*display: inline;word-spacing: normal;vertical-align: top;
}
.search-tabs {
	margin:0 0 15px;
	list-style:none;
	padding:4px 35px 0 35px;
	overflow:hidden;
	position:relative;
	top:-4px;
}
.search-tabs li {
	float:left;
	cursor: pointer;
	padding:0 20px;
	margin:0 10px 0 0;
	font-size:14px;
	color:#717171;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background:url(../images/search-tabs.png) repeat-x 0 0;
	position:relative;
	height:27px;
	line-height:27px;
	top:3px;
}
.search-tabs li.current {
	text-transform:uppercase;
	color:#00B0CF;
	background:url(../images/search-tabs-current.png) repeat-x 0 0;
	height:32px;
	line-height:32px;
	border:1px solid #EBEBEB;
	height:32px;
	line-height:32px;
	top:-3px;
	border-bottom:none;
}

.search-box {
	padding:0 15px 0 35px;
	display:none;
}
.search-box.visible {
	display:block;
}
.search-box a.active {
	font-weight:bold;
	text-decoration:none;
}

.search-row {
	margin:0 0 18px;
	display:inline-block;
	width:100%;
}
.search-field {
	float:left;
	margin:0 25px 0 0;
	width:292px;
}
.search-field.right .custom-select {
	width:278px !important;
}
.search-field .custom-select, .search-field .custom-text {
	margin:0 0 5px;
}

.w40 {
	width:40px;
}
.w60 {
	width:60px;
}
.w80 {
	width:80px;
}
.w100 {
	width:90%;
}
.w350 {
	width:350px;
}
.w280 {
	width:280px !important;
}
.w240 {
	width:240px !important;
}
.w450 {
	width:450px;
}
.w500 {
	width:500px;
}
.w630 {
	width:630px;
}
.w643 {
	width:643px;
}
.w746 {
	width:746px;
}
.w800 {
	width:800px;
}

.w100.btn {
	margin-bottom:5px;
}
.w450 .custom-select {
	width:450px !important;
}
.right .cuselMultiple {
	width:278px;
}

.search-cost {
	white-space:nowrap;
}
.search-cost .custom-select {
	width:130px !important;
	margin:0 12px 5px 0;
}
.search-cost .custom-select .cuselFrameRight {
	background-position: -29px -38px;
}

.search-time {
	position:relative;
	width:280px;
}
.search-time .custom-text {
	padding:4px 30px 4px 5px;
	width:243px;
}

.search-action {
	overflow:hidden;
	padding:5px 0 0;
}
.search-action .btn {

}
.search-action .btn-blue {
	float:right;
	width:120px;
	margin:0 12px 0 0;
}
.search-action .btn-blue.min {
	float:right;
	width:auto;
	margin:0px;
}

.home-visit {
	float:left;
	margin: 0 20px 0 0;
}
.home-visit label {
	font-size:13px;
}
.home-visit .niceCheck {
	top:8px;
}

.emergency {
	margin:0 0 0 212px;
}
.emergency input[type="submit"] {
	width:120px;
	margin-top:5px;
	margin-left: 122px;
}

.info {
	float:right;
	width:175px;
	background:#fff;
	border:1px solid #D6D6D6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:2px;
	margin:74px 0 30px;
	position:relative;
	z-index:2;
	opacity: 0;
}
.info-inner {
	border:1px solid #D6D6D6;
	padding:14px 15px 0;
	overflow:hidden;
}

.info-title {
	display:block;
	text-align:center;
	text-transform:uppercase;
	font-weight:normal;
	width:100%;
	padding:4px 15px;
	position:relative;
	left:-16px;
	border-left:1px solid #086079;
	border-right:1px solid #086079;background: #49B5C9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#49B5C9), to(#057393));
	background: -webkit-linear-gradient(#49B5C9, #057393);
	background: -moz-linear-gradient(#49B5C9, #057393);
	background: -ms-linear-gradient(#49B5C9, #057393);
	background: -o-linear-gradient(#49B5C9, #057393);
	background: linear-gradient(#49B5C9, #057393);
	-pie-background: linear-gradient(#49B5C9, #057393);
	font-size:14px;
	line-height:16px;
	color:#fff;
	text-shadow: 1px 1px 0 #055065;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 0 0 15px;
}

.info-table {
	width:100%;
	font-size:14px;
	color:#555;
	margin: 23px 0;
}
.info-table td {
	padding:9px 0;
}

.info + .section-top {
	width:746px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 115px;
	height: 1%;
}
.middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 240px 0 240px;
}
.cont {
	padding: 0 0 20px 35px;
}
.middle-auth {
	margin:15px auto 0;
}

.col-left {
	float:left;
	width:164px;
	margin:0 25px 0 0;
}
.col-left .banners {
	margin:0 0 27px;
}

.links {
	width:100%;
	margin:0 0 15px;
}
.links td {
	width:33%;
	padding:0 0 0 20px;
}
.links td:first-child {
	padding:0px;
}
.links a {
	display:block;
	padding:0 0 5px;
}

.pages {
	text-align:center;
	padding:10px 0;
}

.pages ul.yiiPager .first,
.pages ul.yiiPager .last,
.pages ul.yiiPager .previous,
.pages ul.yiiPager .next {
	display: none;
}

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #00B0CF;
	font-weight:bold;
	color:#00B0CF;
	padding:1px 6px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border:solid 1px #0e509e;
}

ul.yiiPager .selected a
{
	background:#00B0CF;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

.news h2, .stock h2 {
	margin:0 0 25px;
}

.news {
	float:left;
	width:365px;
	padding:0 0 0 35px;
	margin:0 0 20px;
}

.new-list {
	margin:0;
	padding:0;
}
.new-list dt {
	display:block;
	margin:0 0 5px;
	font-weight:bold;
	color:#555;
	font-size:12px;
}
.new-list dd {
	margin:0 0 28px;
	padding:0;
	overflow:hidden;
}
.new-list img {
	float:left;
	border:1px solid #D1D1D1;
	width:104px;
	height:74px;
	margin:3px 20px 0 0;
}
.news-info {
	overflow:hidden;
	font-size:13px;
	color:#555;
}
.news-info h3 {
	font-size:14px;
	line-height:16px;
	margin:0 0 8px;
}
.news-info p {
	margin:0;
}

.stock {
	float:right;
	width:502px;
	margin:0 0 20px;
}

.stock-list {
	margin:0;
	padding:0;
	list-style:none;
}
.stock-list li {
	margin:0 0 10px;
}

.stock-item {
	display:block;
	text-decoration:none;
	border:1px solid #D6D6D6;
	padding:1px;
	position:relative;
	background:#fff;
	font-size:13px;
}
.stock-item:hover, .stock-item:hover .stock-item-inner {
	border-color:#FB4000;
}
.stock-item-inner {
	border:1px solid #ECECEC;
	padding:10px 10px 10px 35px;
	background:#fff;
}

.stock-item-title {
	padding:0 0 0 40px;
	text-align:center;
	margin:0 0 5px;
	position:relative;
}
.stock-item-title h3 {
	display:block;
	margin:0;
	height:24px;
	line-height:24px;
	background: #44B0C5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#44B0C5), to(#057393));background: -webkit-linear-gradient(#44B0C5, #057393);
	background: -moz-linear-gradient(#44B0C5, #057393);
	background: -ms-linear-gradient(#44B0C5, #057393);
	background: -o-linear-gradient(#44B0C5, #057393);
	background: linear-gradient(#44B0C5, #057393);
	-pie-background: linear-gradient(#44B0C5, #057393);
	border:1px solid #259FC2;-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:15px;
	color:#fff;
	text-transform:uppercase;
	text-shadow: 1px 1px 0 #055268;
	position:relative;
}
.stock-item-title strong {
	color:#555;
	margin:0;
	height:24px;
	line-height:24px;
	font-size:11px;
	text-transform:uppercase;
	color:#555;
	display:-moz-inline-box;display: inline-block;*zoom: 1;*display: inline;word-spacing: normal;vertical-align: top;
	padding:0 28px;
	background: #F9F9F9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9F9F9), to(#E4E4E4));background: -webkit-linear-gradient(#F9F9F9, #E4E4E4);
	background: -moz-linear-gradient(#F9F9F9, #E4E4E4);
	background: -ms-linear-gradient(#F9F9F9, #E4E4E4);
	background: -o-linear-gradient(#F9F9F9, #E4E4E4);
	background: linear-gradient(#F9F9F9, #E4E4E4);
	-pie-background: linear-gradient(#F9F9F9, #E4E4E4);
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border:1px solid #E4E4E4;
	border-top:none;
	font-weight:normal;
	position:relative;
}
.stock-item p {
	margin:0;
	color:#555;
}

.navigation {
	border:1px solid #EAEAEA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff url(../images/bg-top.png) repeat-x 0 0;
	margin:0 0 45px;
}
.navigation-inner {
	background:url(../images/bg-bottom.png) repeat-x left bottom;
}
.navigation-center {
	background:url(../images/navigation-bg.png) no-repeat center center;
	min-height:336px;
	overflow:hidden;
}

.navigation-box {
	float:left;
	width:235px;
	padding:40px;
	font-size:14px;
}
.navigation-image {
	height:80px;
	line-height:80px;
	margin:0 0 5px;
	padding:0 10px;
}
.navigation-title {
	display:-moz-inline-box;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	word-spacing: normal;
	vertical-align: top;
	height:22px;
	line-height:22px;
	background:url(../images/navigation-title.png) no-repeat right -27px;
	padding:0 7px 0 0;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	font-weight:normal;
	margin:0 0 14px;
}
.navigation-title span {
	display:block;
	background:url(../images/navigation-title.png) no-repeat 0 0;
	padding:0 8px 0 15px;
}
.navigation-box ul {
	margin:0;
	padding:0;
	list-style:none;
}
.navigation-box ul li {
	margin:0 0 10px;
}

.map {
	margin:20px 0 0 0;
	height:750px;
}
.map-inner {
	position:absolute;
	width:100%;
	left:0px;
}

.all-link {
	float:right;
	line-height:28px;
}

.search-result {
	margin:0 0 10px;
}
.search-result.right {
	width:760px;
	float:left;
}
.search-result .crumbs {
	padding:5px 0 10px 35px;
}
.search-result .col3 .news-info {
	width: 200px;
	margin: 0 0 20px 30px;
}
.search-result .news-info strong {
	display:block;
	margin:0 0 5px;
}

.search-result-head {
	height:38px;
	line-height:38px;
	overflow:hidden;
	padding:0 25px 0 40px;
	border-bottom:1px solid #DBDBDB;
	border-top:1px solid #DBDBDB;
	margin:0 0 10px;
}
.search-found {
	float:left;
	font-size:14px;
	color:#717171;
}
.search-found a {
	text-decoration:none;
}

.search-regularize {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	color:#555;
}
.search-regularize li {
	float:left;
	margin:0 0 0 15px;
}
.search-regularize li a {
	display:block;
}
.search-regularize li.current a {
	background:url(../images/search-regularize.png) no-repeat right 16px;
	padding:0 25px 0 0;
}
.search-regularize .niceCheck {
	top:13px;
}

.search-result-table {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align: top;
	width:100%;
}
.search-result-table td {
	vertical-align: top;
}

.search-result-box.odd {
	background:url(../images/bg-search-result.png) 0 0;
}

.search-result-signup {
	max-width:210px;
	text-align:center;
	overflow:hidden;
	padding:30px 30px 30px 0;
}
.search-result-signup.left {
	text-align:left;
}
.right .search-result-signup {
	max-width:248px;
	padding: 30px 0px 20px 15px;
}
.search-result-signup img {
	margin:0 0 5px;
	border:1px solid #C0C0C0;
}

.search-result-info {
	line-height:18px;
	overflow:hidden;
	padding:30px 0;
}
.search-result-info p {
	margin:0 0 10px;
}
.search-result-info .w50 {
	width:47%;
	display:inline-block;
	vertical-align:top;
	margin-right:2.5%;
}
.search-result-info .w50 .btn {
	width:98%;
	margin:0 0 5px;
	text-align:center;
}
.search-result-info p.reviews-amount {
	margin:0 0 2px;
}
.search-result-info h3 {
	margin-bottom:25px;
}

.zakaz .search-result-signup {
	vertical-align:middle;
	padding:15px 20px 15px 35px;
	text-align:left;
}
.zakaz .search-result-info {
	padding:15px 20px;
}
.zakaz label {
	display: inline-block;
	padding: 4px 5px;
}
.zakaz .niceCheck {
	top:8px;
}

.size-14 {
	font-size:14px;
}

.search-result-title {
	display:inline-block;
	width:100%;
	position:relative;
	top:-4px;
	margin:0 0 15px;
}
.search-result-title .rating {
	top:4px;
}
.search-result-title h2 {
	overflow:hidden;
	margin:0;
	font-size:18px;
	line-height:22px;
	display:-moz-inline-box;display: inline-block;*zoom: 1;*display: inline;word-spacing: normal;vertical-align: top;
	margin:0 10px 0 0;
}
.search-result-title h2 small {
	font-size:13px;
	color:#555;
	display:block;
	line-height:16px;
}

.rating {
	display:-moz-inline-box;display: inline-block;*zoom: 1;*display: inline;word-spacing: normal;vertical-align: top;
	width:85px;
	height:16px;
	background:url(../images/rating.png) repeat-x 0 0;
	position:relative;
	margin:0 40px 0 0;
}
.rating-inner {
	display:block;
	height:100%;
	background:url(../images/rating.png) repeat-x 0 -21px;
	position:absolute;
	top:0;
	left:0;
	width:auto;
}
.rating-count {
	display:block;
	position:absolute;
	top:-6px;
	left:100%;
	margin:0 0 0 10px;
	height:26px;
	line-height:26px;
	font-size:18px;
	color:#00B0CF;
	font-weight:bold;
}
.rating-count span {
	font-size:24px;
}

.price-box {
	display:block;
	line-height:34px;
	font-style:normal;
	text-align:center;
	border:1px solid #79C9D2;
	padding:1px;
	font-size:12px;
	color:#00B0CF;
	text-transform:uppercase;
	margin:20px 0 0;
}
.price-box-inner {
	display:block;
	background:url(../images/bg-price.png) repeat-x 0 0;
	line-height:18px;
	padding:5px 0;
}
.price-box b {
	font-size:20px;
	font-weight:normal;
	margin:0 2px;
}

.search-result-reviews {
	width:200px;
	padding:30px 20px;
}

.reviews-list {
	min-width: 20%;
}

.reviews-box {
	margin:0 0 25px;
	position:relative;
	background:#fff;
	border:1px solid #D4D4D4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px 15px;
	font-size:12px;
	color:#555;
}
.reviews-box-arrow {
	background:url(../images/reviews-arrow.png) no-repeat 0 0;
	width:15px;
	height:16px;
	display:block;
	position:absolute;
	left:80px;
	bottom:-16px;
}
.reviews-amount {
	display:block;
	height:16px;
	line-height:16px;
	position:absolute;
	left:110px;
	bottom:-20px;
	font-size:13px;
	margin:0;
	white-space:nowrap;
}

.search-box-service.odd td {
	background:url(../images/bg-search-result.png) 0 0;
}

.search-box-service-row {
	padding:0 30px;
}

.service-table {
	width:100%;
	line-height:20px;
	margin:0 0 30px;
}
.service-table td, .title-row {
	border:1px solid #C4C3C6;
	border-left:none;
	border-right:none;
	padding:5px 5px 5px 2px;
	background:none !important;
}
.service-table .service-info {
	padding:0px;
}
.service-title {
	font-size:14px;
}
.service-table .service-price {
	font-size:18px;
	color:#00B0CF;
	width:80px;
	white-space:nowrap;
	text-align:right;
	padding:6px 20px 6px 0;
}
.service-signup {
	width:100px;
	text-align:center;
}
.title-row {
	font-size: 16px;
	margin: -1px 0 0;
	padding: 10px 0;
	cursor:pointer;
}
.fleftImg {
	margin:0 20px 15px 0;
	border:1px solid #C0C0C0;
	float:left;
}

.ico-order, .ico-skype, .ico-calendar, .ico-discount, .ico-free, .ico-comments {
	display:-moz-inline-box;display: inline-block;*zoom: 1;*display: inline;word-spacing: normal;vertical-align: top;background:url(../images/spry.png) no-repeat 0 0;
	position:relative;
}
.ico-order {
	background-position:-18px -8px;
	width:22px;
	height:22px;
	top:2px;
	margin:0 5px 0 0;
}
.ico-skype {
	background-position: -45px -8px;
	width:22px;
	height:24px;
	top:1px;
	margin:0 5px 0 0;
}
.ico-calendar {
	background-position: -58px -38px;
	width:24px;
	height:24px;
	position:absolute;
	top:2px;
	right:2px;
}
.ico-discount {
	background-position: 0 -68px;
	width:80px;
	height:80px;
	display:block;
	position:absolute;
	top:-1px;
	left:-1px;
}
.ico-free {
	background-position: 0 -152px;
	width:80px;
	height:80px;
	display:block;
	position:absolute;
	top:-1px;
	left:-1px;
}
.ico-comments {
	text-align:center;
	width:22px;
	height:19px;
	background-position: 0 -238px;
	font-size:11px;
	line-height:16px;
}

/* Cabinet */
.cabinet .search-result-head {
	margin-top:30px;
}
.cabinet textarea {
	width:98%;
	height:180px;
}
.cabinet .service-table td {
	vertical-align:middle;
}
.cabinet .search-result-table td td p:last-child {
	margin-bottom:0px;
}

/* Nav */
.nav {
	margin:0px;
	padding:0px;
}
.nav li {
	list-style:none;
	position:relative;
}
.nav li div {
	display:none;
	left: 130px;
	padding: 0 0 0 20px;
	position: absolute;
	top: 0;
	z-index: 1;
}
.nav li ul {
	white-space: nowrap;
	padding: 15px;
	background:#EFEFEF;
	border-radius: 5px;
	margin:0px;
}
.nav ul > li {
	padding:2px 0 2px 10px;
	background:url(../images/nav-li.gif) 0 8px no-repeat;
}

/* Calendar */
.calendar .calendar-row td {
	padding: 5px 0;
	text-align:center;
}
.calendar .calendar-title {
	text-align:center;
	padding: 6px 10px;
	vertical-align:middle;
	background:#84D7E0;
	color:#fff;
	margin:0 0 10px;
	border-right:1px solid #fff;
}
.calendar .btn {
	width:35px;
	text-align:center;
	margin:0 0 3px 0;
}
.calendar td.calenadar-arr {
	white-space:nowrap;
	padding:0 15px;
	vertical-align:middle;
}

/* Slider */
.slider-out {
	padding: 0px 30px 30px;
	position:relative;
}
.slider-out .prev, .slider-out .next {
	background:url(../images/slider-arrow.png);
	position:absolute;
	top:50%;
	margin:-30px 0 0 0;
	width:20px;
	height:50px;
}
.slider-out .prev a, .slider-out .next a {
	display:block;
	background:url(../images/slider-arrow.png);
	font-size:0px;
	line-height:0px;
	width:20px;
	height:50px;
}
.slider-out .prev {
	left:0px;
}
.slider-out .next {
	right:0px;
	background-position:top right;
}
.slider-out .next a {
	background-position:top right;
}
.slider {
	position:relative;
}
.slider ul {
	margin:0px;
	padding:0px;
}
.slider li {
	list-style:none;
}
.slider .inside, .tovar {
	border: 1px solid #00B0CF;
	border-radius: 5px;
	padding: 15px;
	overflow:hidden;
	margin:0 5px 0 0;
	position:relative;
}
.slider .inside img, .tovar img {
	float: left;
	margin: 0 20px 0 0;
	width: 105px;
	border-radius:5px;
}
.slider .price, .tovar .price {
	float: left;
	font-size: 20px;
	padding: 5px 10px 0 0;
}
.slider .bottom {
	bottom: 20px;
	left: 140px;
	position: absolute;
}

/* Tovari */
.tovar {
	margin-bottom:10px;
}
.tovar .price {
	float: none;
	padding: 0 0 20px;
	text-align: right;
}
.tovar .bottom {
	float:right;
	padding:0 0 0 20px;
}
.tovar .bottom .btn-green {
	bottom: 15px;
	position: absolute;
	right: 15px;
}

/* Tovar */
.tovar.inside .custom-text {
	width:20px;
	text-align:center;
}
.tovar.inside img {
	width:150px;
	margin-bottom:10px;
}
.tovar .block-buy {
	float:right;
	padding:0 0 20px 20px;
	text-align:right;
}
.tovar .line-price {
	padding:0 0 10px 0;
}
.tovar .line-price span {
	padding:0 0 0 10px;
}
.tovar  .block-buy .f-left {
	padding:5px 0;
}
.tovar  .block-buy input[type=text] {
	margin:-5px 0 0 5px;
}
.tovar  .block-buy .btn-green {
	margin:0 0 0 10px;
}
.tovar .first {
	min-height:60px;
}

/* Zakaz tovara */
.zakaz-tovar img {
	width:60px;
	border-radius:3px;
}
.zakaz-tovar .count {
	width:20px;
	text-align:center;
}
.zakaz-tovar .price {
	font-size: 16px;
}
.zakaz-tovar td {
	vertical-align:middle;
}

/* Left-sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 220px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}

/* Right-sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	margin-right: -3px;
	width: 220px;
	margin-left: -220px;
	position: relative;
	background: #FFACAA;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -115px auto 0;
	min-width: 1000px;
	height: 115px;
	background: #555 url(../images/bg-footer.png) 0 0;
	position: relative;
}
.copyright {
	margin:0;
	display:block;
	text-align:center;
	font-size:13px;
	color:#fff;
	padding:28px 0 0;
	line-height:19px;
}

.items {
	margin-bottom: 25px;
}
/* =============================================================================
   Print Style
   ========================================================================== */
@media print {

	* {
		background: transparent !important;
		color: black !important;
		box-shadow:none !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	} /* Black prints faster: h5bp.com/s */
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}  /* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	} /* h5bp.com/t */
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 768px) {

	/*Планшеты в режиме portrait.*/

}
@media only screen and (max-width: 480px){
	/*Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.*/
}

/* css for timepicker */
#ui-datepicker-div {
	z-index: 1000 !important;
}
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}
.ui-timepicker-div dl {
	text-align: left;
}
.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
	font-size: 90%;
}
.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}
.ui-timepicker-rtl dl {
	text-align: right;
}
.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
}

.file-over {
	display: inline-block;
	+float:left;
	overflow: hidden;
	position: relative;
	height:30px;
}
.file-over input[type="file"] {
	left: -550px;
	cursor:pointer;
	opacity: 0;
	position: absolute;
	height:30px;
	filter:alpha(opacity:0);
	font-size:199px;
	z-index:10;
	top:0px;
	height:30px;
}
label.btn {
	height: 28px;
	padding: 0 10px;
	cursor:pointer;
	+float:left;
}




