.appFormLink {
	/*display: inline-block;*/
}

.appFormPopup {
	/*display: none;*/
	width: 280px;
	height: auto;
	padding: 10px;
	border: 1px solid darkgray;
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	/*background-color: #FAFAFA;*/
	background-color: rgba(250, 250, 250, 0.5) !important;
	color: #000 !important;
	font: 14px Arial;
}

.appFormPopup.active {
	display: block;
}

.appFormPopup>.appFormInfo {
	float: right;
	margin-top: -4px;
	margin-right: -4px;
	padding: 0 4px;
	font-size: 20px;
	text-decoration: none !important;
	color: #0088cc;
	#border: 1px solid;
	border-radius: 6px;
}

.appFormPopup>.appFormInfo:hover {
	background-color: #0088cc;
	color: #fff;
}

.appFormPopup>.appFormInfoText {
	display: none;
	margin: 10px 0;
	padding: 4px;
	border: 1px dashed gray;
	background-color: #fff;
	font-size: 12px;
}

.appFormPopup>.appFormInfoText a {
	color: #0088cc;
}

.appFormPopup>div.appFormPopupFields>div>div .flexbox {
	display: flex;
}

.appFormPopup>div.appFormPopupFields {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.appFormPopup>div.appFormPopupFields>div {
	display: table-row; 
}

.appFormPopup>div.appFormPopupFields>div>div {
	display: table-cell;
	height: 25px;
	border: 0px solid lightgray;
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

.appFormPopup>div.appFormPopupFields>div.title>div {
	font-size: 10px;
	vertical-align: bottom;
}

.appFormPopup>div.appFormPopupFields>div>div input, 
.appFormPopup>div.appFormPopupFields>div>div select,
.appFormPopup>div.appFormPopupFields>div>div .appFormSystemMessage
{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 4px !important;
	border: 1px solid darkgray;
	font: 14px Arial;
	color: #000;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

.appFormPopup>div.appFormPopupFields>div>div input:disabled, 
.appFormPopup>div.appFormPopupFields>div>div select:disabled
{
	background-color: #eee;
}

.appFormPopup>div.appFormPopupFields>div>div .isBeingLoaded {
	display: none;
}

.appFormPopup .loadingIcon {
	width: 20px;
	height: 20px;
	display: none;
}

.appFormPopup>div.appFormPopupFields>div>div .isBeingLoaded + .loadingIcon {
	display: block;
	margin: auto;
}

.appFormPopup>div.appFormPopupFields>div>div input[type="submit"] {
	margin-top: 15px;
}

.appFormPopup>div.appFormPopupFields>div>div.doctorInfo {
	padding: 5px 0;
	vertical-align: top;
}

.appFormPopup>div.appFormPopupFields>div>div.doctorInfo>img {
	float: left;
	width: 65px;
	max-height: 80px;
	margin: 0 10px 0 1px;
}

.appFormPopup>div.appFormPopupFields>div>div .x2 {
	width: 50%;
}

.appFormPopup>div.appFormPopupFields>div>div .appFormSystemMessage {
	display: none;
	margin: 10px 0 0 0;
	text-align: center;
}

.appFormPopup>div.appFormPopupFields>div>div .appFormLoading {
	background-color: lightyellow;
}

.appFormPopup>div.appFormPopupFields>div>div .appFormSuccess {
	background-color: lightgreen;
}

.appFormPopup>div.appFormPopupFields>div>div div.appFormError {
	background-color: red;
	color: #fff;
}

.appFormPopup>div.appFormPopupFields>div>div .fieldError {
	background-color: #FF6161;
	color: #fff;
	font-size: 12px;
	padding: 2px;
	border: 1px solid #FF6161;
	display: none;
}

.appFormPopup>div.appFormPopupFields>div>div .fieldError.active {
	display block; 
}