<div class="appFormPopup">
	Запись к врачу онлайн
	<a href="#" class="appFormInfo">
		?
	</a>
	<div class="appFormInfoText">
		Виджет онлайн записи к врачам
		<br>© 2015 Единый Медицинский Портал
		<br><a href="https://emportal.ru" target="_blank">emportal.ru</a>
	</div>
	<div class="appFormPopupFields">
		<div class="title appFormCompany">
			<div>Компания</div>
		</div>
		<div class="appFormCompany">
			<div>
				<select class="non-capitalize">
					<option>-</option>
				</select>						
			</div>
		</div>
		<div class="title appFormAddress">
			<div>Адрес</div>
		</div>
		<div class="appFormAddress">
			<div>
				<select class="appFormAddressInput">
					<option>-</option>
				</select>	
			</div>
		</div>
		<div class="title appFormSpeciality">
			<div>Специальность</div>
		</div>
		<div class="appFormSpeciality">
			<div>
				<select class="appFormSpecialityInput">
					<option value="all">-</option>
				</select>	
			</div>
		</div>
		<div class="title appFormDoctor">
			<div>Врач</div>
		</div>
		<div class="appFormDoctor">
			<div>
				<select class="appFormDoctorInput">
					<option>-</option>
				</select>
			</div>
		</div>
		<div class="appFormDoctor">
			<div class="doctorInfo">
				<!--
				<img src="http://www.emportal.ru/uploads/doctor/000011606/photo.jpg?z=963862577">
				<div>
					<p>Невролог, ВЫСШАЯ КАТЕГОРИЯ</p>
					<p>Стаж 25 лет</p>
					<p>Стоимость приема 2500 руб.</p>
				</div>
				-->
			</div>
		</div>
		<div class="title">
			<div>
				<div class="flexbox">
					<div class="x2">
						День приема
					</div>
					<div class="x2">
						Время приема
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
				<div class="flexbox">
					<select class="appFormDateInput x2 flexbox">
						<option value="">не выбрано</option>
						<option value="16.04.2015">Чт, 16 апр</option>
						<option value="17.04.2015">Пт, 17 апр</option>
						<option value="18.04.2015">Сб, 18 апр</option>
						<option value="19.04.2015">Вс, 19 апр</option>
						<option value="20.04.2015">Пн, 20 апр</option>
					</select>
					<select class="appFormTimeInput x2 flexbox">
						<option>не выбрано</option>
						<option>13:30</option>
						<option>14:30</option>
						<option>15:30</option>
						<option>16:30</option>
					</select>
					<img class="loadingIcon" src="http://emportal.ru/images/loading.gif">
					<div class="appFormDateError fieldError"></div>
					<div class="appFormTimeError fieldError"></div>
				</div>
			</div>
		</div>
		<div class="title">
			<div>ФИО пациента</div>
		</div>
		<div>
			<div>
				<input type="text" class="appFormName">
				<div class="appFormNameError fieldError"> <!-- Ошибка: имя должно быть более 2 символов! --> </div>
			</div>
		</div>
		<div class="title">
			<div>Телефон</div>
		</div>
		<div>
			<div>
				<input type="text" class="appFormPhone">
				<div class="appFormPhoneError fieldError"> <!-- Ошибка: телефон должен быть более n символов --> </div>
			</div>
		</div>
		<div>
			<div class="appFormProceed">
				<input type="submit" value="Далее" class="appFormSystemMessage appFormSubmit" style="display: block;"></input>
				<div class="appFormSystemMessage appFormLoading">
					Подождите, идет загрузка...
				</div>
				<div class="appFormSystemMessage appFormSuccess">
					Ваша заявка успешно отправлена!
				</div>
				<div class="appFormSystemMessage appFormError">
					Не получилось записаться к врачу на это время. Попробуйте другое время приема.
				</div>
			</div>
		</div>
	</div>
</div>